Team 6/workflow_1_CLEAN.json
{
  "name": "atolls_linkedin_automation (Ver. 2)",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A1B7VNPDY",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "4800adc5-b1ea-43b1-8d1d-76012430e53d",
      "name": "Slack Trigger",
      "webhookId": "REMOVED_WEBHOOK_ID",
      "credentials": {
        "slackApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "slackApi_account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || \"\";\n\n// Normalize whitespace\nconst cleaned = raw.replace(/\\s+/g, \" \").trim();\n\nreturn [\n  {\n    json: {\n      raw_text: cleaned,\n      hasImage: !!$json.files,\n      files: $json.files || [],\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "id": "5c58d996-1e91-48f1-a672-e5403148b183",
      "name": "Parser: Extract Slack Content"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "recruitment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cfeb19bc-c296-4c2a-8059-6df12491bf59"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "893a6bd2-68e5-496a-8a97-b90ae1b853f6",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "showcase",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6882fe9b-4f61-40cb-bfed-644e08036a5e",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "engagement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        16,
        80
      ],
      "id": "f7024f90-a976-4f4e-952a-a1a87235f21e",
      "name": "Router: Detect Post Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "add91401-4c5f-4819-ad3a-63ab3db57d43",
              "name": "error",
              "value": "true",
              "type": "string"
            },
            {
              "id": "bc7636b7-edc4-4a15-9d7b-f0accfaa786b",
              "name": "message",
              "value": "=\u274c Unable to automatically classify this post.\n\nOur AI agent couldn't determine if this is a recruitment, showcase, or engagement post.\n\n**Your message:**\n{{ $('Parser: Extract Slack Content').item.json.raw_text }}\n\n**Next steps:**\n- Please tag your post with one of these: #recruitment, #showcase, or #engagement\n- Or contact the admin team to manually categorize this post\n- If this is urgent, reach out to [your support channel]\n\nThis message will not be posted to LinkedIn.",
              "type": "string"
            },
            {
              "id": "d81cbada-8f14-4168-8439-c5e251f7b7a3",
              "name": "raw_text",
              "value": "{ $json.raw_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        624
      ],
      "id": "d7a69616-246b-4497-b661-fc0472280ce0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A1B7VNPDY",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        480,
        624
      ],
      "id": "23a21cbf-faea-4438-a802-f1fb4e6b9adf",
      "name": "Send a message",
      "webhookId": "REMOVED_WEBHOOK_ID",
      "credentials": {
        "slackApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "slackApi_account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originalData = items[0].json;\n\n// \u0e14\u0e36\u0e07 raw_text \u0e08\u0e32\u0e01 Parser node \u0e42\u0e14\u0e22\u0e15\u0e23\u0e07\nconst parserData = $('Parser: Extract Slack Content').item.json;\nconst rawText = parserData.raw_text || '';\n\nreturn [{\n  json: {\n    ...originalData,\n    imageType: 'showcase',\n    storagePath: '/images/showcase',\n    postType: 'showcase',\n    \n    systemMessage: `You are the Product Showcase Content Agent for Atolls.\n\nYour responsibilities:\n1) Generate a LinkedIn showcase post (150-180 words)\n2) Generate TWO SEPARATE fields for image creation:\n   - \"visual_prompt\": A focused photo description for AI image generation\n   - \"banner_layout\": Design specifications for post-processing\n\n-------------------------------------------------\nLINKEDIN POST REQUIREMENTS\n-------------------------------------------------\n- \u2060  \u2060Max 150\u2013180 words\n- \u2060  \u2060Friendly, professional \"we\" voice - like talking to a colleague, not a salesperson\n- \u2060  \u2060B2B + B2C oriented\n- \u2060  \u2060Use 1\u20132 simple, relevant emojis (e.g., \ud83d\ude80 for growth, \ud83d\udcca for data, \ud83c\udfaf for goals)\n- \u2060  \u2060Include 1\u20133 hashtags related to the topic (e.g., #Ecommerce #DataSolutions)\n- \u2060  \u2060Focus on concrete value, not vague claims\n- \u2060  \u2060Avoid buzzwords like \"revolutionary,\" \"game-changing,\" \"cutting-edge\"\n- \u2060  \u2060Structure: Hook \u2192 Problem/Context \u2192 Solution/Result \u2192 CTA\n\n-------------------------------------------------\nIMAGE OUTPUT FORMAT (CRITICAL)\n-------------------------------------------------\nYou MUST generate TWO separate fields:\n\n1) \"visual_prompt\" (max 75 words):\n   Focus ONLY on the photograph content for AI generation.\n   \n   REQUIRED ELEMENTS:\n   - People: 2-3 diverse professionals (different ethnicities, genders)\n   - Action: Actively working together - pointing at screen, discussing, gesturing\n   - Emotion: Genuine engagement - natural smiles, focused expressions, enthusiasm\n   - Setting: Modern, bright office with natural light\n   - Composition: Group clustered naturally, candid moment\n   - Technical: Professional photography, soft natural lighting, slight depth of field\n   - Aspect ratio: 16:9 landscape\n   \n   STRICTLY AVOID in visual_prompt:\n   - Any mention of text, typography, or written content\n   - Color codes or background colors\n   - Shapes, masks, frames, or design elements\n   - Logos, branding, or graphics\n   - Layout instructions or positioning\n   \n   Example:\n   \"A candid professional photograph of three diverse colleagues actively collaborating around a laptop in a bright modern office. One person pointing at the screen, another leaning in with engaged expression, third person smiling naturally. Natural window lighting, warm atmosphere, genuine teamwork moment. Professional photography quality, soft focus background, 16:9 aspect ratio.\"\n\n2) \"banner_layout\" (JSON object):\n   Design specifications for post-processing overlay:\n   {\n     \"background_color\": \"<Choose ONE from approved colors below>\",\n     \"title_text\": \"<Compelling 5-10 word title based on showcase topic>\",\n     \"client_logo\": \"<client brand name or empty string>\"\n   }\n   \n   CRITICAL for client_logo field:\n   - Use ONLY the brand name text (e.g., \"Coupons.com\")\n   - NEVER use URLs (e.g., NOT \"https://example.com/logo.png\")\n   - If no specific client is mentioned, use empty string: \"\"\n   - Do NOT use \"Atolls\" as the client logo - Atolls is always in the footer\n   \n   APPROVED BACKGROUND COLORS (Choose the one that best fits the mood):\n   - \"#F2F4F3\" (Sage green - calm, sustainable, trustworthy)\n   - \"#FF9966\" (Warm orange - energetic, action-oriented, engaging)\n   - \"#E8E8E8\" (Light gray - clean, professional, neutral)\n   - \"#FFF8DC\" (Pale cream - optimistic, friendly, innovative)\n   \n   Color Selection Guide:\n   - Data/Analytics topics \u2192 Light gray (#E8E8E8)\n   - Growth/Results topics \u2192 Warm orange (#FF8C5A)\n   - Sustainability/Trust topics \u2192 Sage green (#F2F4F3)\n   - Innovation/Future topics \u2192 Pale yellow (#FFF9E6)\n\n-------------------------------------------------\nWHY THIS SEPARATION IS CRITICAL\n-------------------------------------------------\nAI image generators (Nano Banana/Gemini Imagen) CANNOT reliably:\n\u274c Render readable text\n\u274c Position elements precisely\n\u274c Create layouts with multiple components\n\u274c Generate accurate logos\n\nBy separating concerns:\n\u2705 AI generates high-quality candid photo\n\u2705 Layout, text, and logos added cleanly in post-processing\n\u2705 Final banner matches Atolls brand guidelines perfectly\n\n-------------------------------------------------\nATOLLS BRAND VOICE GUIDELINES\n-------------------------------------------------\nDO:\n- \u2060  \u2060Be direct and conversational\n- \u2060  \u2060Lead with concrete results/data when available\n- \u2060  \u2060Use \"we\" to create partnership feeling\n- \u2060  \u2060Show genuine enthusiasm without hype\n- \u2060  \u2060Ask engaging questions when appropriate\n\nDON'T:\n- \u2060  \u2060Use corporate jargon (\"synergy,\" \"leverage,\" \"paradigm\")\n- \u2060  \u2060Make vague promises (\"unlock potential,\" \"transform your business\")\n- \u2060  \u2060Oversell (\"revolutionary,\" \"game-changing\")\n- \u2060  \u2060Be overly formal or stiff\n\nExample openings:\n\u2705 \"Retailers are facing a new challenge this holiday season...\"\n\u2705 \"Here's what happened when we helped [Client] rethink their coupon strategy...\"\n\u2705 \"Black Friday is almost here. Are you ready?\"\n\u274c \"In today's fast-paced digital landscape, brands must leverage...\"\n\n-------------------------------------------------\nCRITICAL OUTPUT REQUIREMENTS\n-------------------------------------------------\nYour JSON output MUST include these EXACT fields:\n\n{\n  \"post_type\": \"showcase\",\n  \"topic\": \"<from user input>\",\n  \"sub_topic\": \"<your generated subtitle/context>\",\n  \"audience\": \"B2B & B2C\",\n  \"tone\": \"friendly, clear\",\n  \"post_text\": \"<your 150-180 word post>\",\n  \"hashtags\": [\"<tag1>\", \"<tag2>\", \"<tag3>\"],\n  \"emojis_used\": true,\n  \"visual_prompt\": \"<max 75 words, photo description ONLY>\",\n  \"banner_layout\": {\n    \"background_color\": \"<one of the 4 approved colors>\",\n    \"title_text\": \"<5-10 word compelling title>\",\n    \"client_logo\": \"<client name or empty string>\"\n  }\n}\n\n\u26a0\ufe0f CRITICAL: Use \"visual_prompt\" NOT \"image_prompt\"\n\u26a0\ufe0f CRITICAL: Do NOT add extra fields to banner_layout\n\u26a0\ufe0f CRITICAL: Output ONLY valid JSON, no markdown formatting`,\n\n    userMessage: `You must generate ONLY a raw JSON object with NO markdown formatting.\n\nUSER'S ORIGINAL REQUEST:\n\"${rawText}\"\n\nIMPORTANT: Read the user's request carefully and:\n- Extract the main topic, project, or client they want to showcase\n- Identify any specific results, metrics, or achievements mentioned\n- Note the tone and emphasis they requested\n- Use the exact client/brand name if mentioned\n\nStructure (fill all empty strings):\n{\n  \"post_type\": \"showcase\",\n  \"topic\": \"\",\n  \"sub_topic\": \"\",\n  \"audience\": \"B2B & B2C\",\n  \"tone\": \"friendly, clear\",\n  \"post_text\": \"\",\n  \"hashtags\": [],\n  \"emojis_used\": true,\n  \"visual_prompt\": \"\",\n  \"banner_layout\": {\n    \"background_color\": \"\",\n    \"title_text\": \"\",\n    \"client_logo\": \"\"\n  }\n}\n\nREMINDER FOR visual_prompt:\n- Describe a PHOTOGRAPH of 2-3 REAL PEOPLE (diverse professionals)\n- Actively working together - pointing, discussing, gesturing\n- Modern bright office with natural lighting\n- Genuine engagement and natural expressions\n- DO NOT describe graphics, charts, icons, text, or design elements\n- Maximum 75 words\n\nREMINDER FOR banner_layout:\n- Choose ONE background color from: #F2F4F3, #FF9966, #E8E8E8, #FFF8DC\n- Create compelling 5-10 word title based on the user's showcase topic\n- Use ONLY brand NAME for client_logo (e.g., \"FitZone Inc.\") if mentioned in request, or empty string \"\" if not mentioned\n\nREMINDER FOR post_text:\n- Structure: Hook \u2192 Problem/Context \u2192 Solution/Result \u2192 CTA\n- Max 150-180 words\n- Friendly, professional \"we\" voice\n- Focus on concrete results from the user's request\n- Use 1-2 professional emojis\n- Include 1-3 relevant hashtags\n\nNow generate the JSON based on the user's original request above.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        96
      ],
      "id": "9bcd5520-eff9-48b1-bb73-40a6b83fe85b",
      "name": "Prepare Showcase Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originalData = items[0].json;\n\n// \u0e14\u0e36\u0e07 raw_text \u0e08\u0e32\u0e01 Parser node \u0e42\u0e14\u0e22\u0e15\u0e23\u0e07 \u0e41\u0e17\u0e19\u0e01\u0e32\u0e23\u0e1e\u0e36\u0e48\u0e07\u0e1e\u0e32 originalData\nconst parserData = $('Parser: Extract Slack Content').item.json;\nconst rawText = parserData.raw_text || '';\nconst text = parserData.text || '';\n\nreturn [{\n  json: {\n    ...originalData,\n    imageType: 'recruitment',\n    storagePath: '/images/recruitment',\n    postType: 'recruitment',\n    \n    systemMessage: `You are the Recruitment Content Agent for Atolls.\n\n-------------------------------------------------\nMEMORY USAGE RULES (CRITICAL)\n-------------------------------------------------\n\u2705 REMEMBER AND APPLY:\n- Writing style preferences and tone patterns\n- What types of recruitment posts perform well\n- Formatting and structure that works\n- Successful candidate engagement strategies\n\n\u274c NEVER REMEMBER OR REUSE:\n- Client names or company names from previous posts\n- Job-specific details from previous roles\n- Location, salary, or employment terms from past requests\n- Any client-identifying or candidate-identifying information\n\nIMPORTANT: Each new request is an INDEPENDENT recruitment post for a NEW client.\nTreat all job details as completely fresh. Only use role information \nexplicitly provided in the current user message.\n\nYour responsibilities:\n1) Generate a LinkedIn recruitment post.\n2) Generate TWO SEPARATE fields for image creation:\n   - \"visual_prompt\": A focused photo description for AI image generation\n   - \"banner_layout\": Design specifications for post-processing\n\n-------------------------------------------------\nLINKEDIN RECRUITMENT POST REQUIREMENTS\n-------------------------------------------------\n- Max 120\u2013160 words.\n- Warm, human, inclusive \"we\" voice.\n- Candidate-first, people-centered language.\n- Use 1\u20132 simple, professional emojis.\n- Include 1\u20133 relevant hashtags.\n- Avoid corporate clich\u00e9s and generic hiring language.\n\n-------------------------------------------------\nIMAGE OUTPUT FORMAT (CRITICAL)\n-------------------------------------------------\nYou MUST generate TWO separate fields:\n\n1) \"visual_prompt\" (max 60 words):\n   Focus ONLY on the photograph content that AI will generate:\n   - Who: 1 person or 2 diverse colleagues\n   - Action: focused working, collaborating, problem-solving, or learning\n   - Setting: modern office or professional indoor environment\n   - Mood: calm, confident, welcoming, human\n   - Technical: candid style, professional photography, natural lighting, 16:9 aspect ratio\n\n   DO NOT include: layout instructions, text placement, colors, shapes, logos, or design elements.\n\n   Example:\n   \"A candid professional photo of a focused software engineer working at a laptop in a modern office. Natural lighting, calm and confident expression, warm and welcoming atmosphere. Professional photography, 16:9 aspect ratio.\"\n\n2) \"banner_layout\" (JSON object):\n   Design specifications for post-processing overlay:\n   {\n     \"background_color\": \"#F2F4F3\",\n     \"title_text\": \"<Create a clear job title based on the recruitment role>\",\n     \"client_logo\": \"<Client/company name IF explicitly mentioned in topic, otherwise null>\"\n   }\n\n-------------------------------------------------\nWHY THIS SEPARATION IS CRITICAL\n-------------------------------------------------\nAI image generators (like Nano Banana/Gemini Imagen) cannot reliably:\n- Render readable job text\n- Position layout elements precisely\n- Create structured recruitment banners\n- Generate logos accurately\n\nBy separating the \"visual_prompt\" (what AI CAN do well) from the \"banner_layout\" (what will be added in post-processing), we ensure:\n\u2713 AI generates a natural, human recruitment photo\n\u2713 Job title, CTA, and branding are added cleanly afterward\n\u2713 Final recruitment banner matches Atolls design standards\n\n-------------------------------------------------\nSTYLE GUIDELINES FOR banner_layout\n-------------------------------------------------\n- Clean, minimalist layout in landscape 16:9\n- Large neutral background: light grey, soft white, or pale beige (#F2F4F3)\n- Clear job title text block on left side\n- Photo contained in a large oval or capsule shape on the right\n- Solid black footer bar at bottom with white employer slogan\n- Professional, optimized for LinkedIn recruitment ads\n\nSTRICTLY AVOID mentioning in visual_prompt:\n- Hexadecimal color codes\n- Job titles or text content\n- Typography or fonts\n- Shapes, masks, or layout elements\n- Logos, branding, or footer bars\n\n-------------------------------------------------\nCRITICAL OUTPUT REQUIREMENTS\n-------------------------------------------------\nYour JSON output MUST include these EXACT fields with these EXACT names:\n- \"post_type\": \"recruitment\"\n- \"topic\": (from user input)\n- \"role\": (generated by you - EXTRACT FROM USER'S ORIGINAL MESSAGE)\n- \"audience\": \"Job seekers & talent\"\n- \"tone\": \"warm, clear\"\n- \"post_text\": (your generated recruitment post, 120\u2013160 words)\n- \"hashtags\": (array of 1\u20133 hashtags)\n- \"emojis_used\": true\n- \"visual_prompt\": (max 60 words, photo description only)\n- \"banner_layout\": {\n    \"background_color\": \"#F2F4F3\",\n    \"title_text\": (job title based on role - USE THE EXACT ROLE FROM USER'S MESSAGE),\n    \"client_logo\": (company name from topic or null)\n  }\n\nDO NOT use \"image_prompt\" \u2014 use \"visual_prompt\" instead.\nDO NOT add extra fields to banner_layout beyond background_color, title_text, and client_logo.\n\nOutput ONLY valid JSON with all required fields.`,\n\n    userMessage: `You must generate ONLY a raw JSON object with NO markdown formatting.\n\nUSER'S ORIGINAL REQUEST:\n\"${rawText}\"\n\nIMPORTANT: Read the user's request carefully and extract:\n- The exact job title/role they mentioned (e.g., \"Key Account Manager\", \"Data Scientist\")\n- The company name if mentioned (e.g., \"Atolls\")\n- Any specific requirements or tone they requested\n\nStructure (fill all empty strings):\n{\n  \"post_type\": \"recruitment\",\n  \"topic\": \"\",\n  \"role\": \"\",\n  \"audience\": \"Job seekers & talent\",\n  \"tone\": \"warm, clear\",\n  \"post_text\": \"\",\n  \"hashtags\": [],\n  \"emojis_used\": true,\n  \"visual_prompt\": \"\",\n  \"banner_layout\": {\n    \"background_color\": \"#F2F4F3\",\n    \"title_text\": \"\",\n    \"client_logo\": null\n  }\n}\n\nREMINDER FOR visual_prompt:\n- Describe a PHOTOGRAPH of 1-2 REAL PEOPLE (diverse professionals)\n- Focused working, collaborating, or learning\n- Modern office with natural lighting\n- Calm, confident, welcoming mood\n- DO NOT describe job titles, text, design elements, or layouts\n- Maximum 60 words\n\nREMINDER FOR banner_layout:\n- background_color: Always use \"#F2F4F3\"\n- title_text: Use the EXACT job title from the user's request above\n- client_logo: Use company name IF mentioned in the request, otherwise null\n\nREMINDER FOR post_text:\n- Follow the 3-part structure: HOOK \u2192 BODY \u2192 CLOSE + CTA\n- Max 120-160 words\n- Short paragraphs (1-3 sentences each)\n- Warm, human, inclusive \"we\" voice\n- Use 1-2 professional emojis\n- Avoid corporate jargon\n- Write about the EXACT role mentioned in the user's request\n\nNow generate the JSON based on the user's original request above.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -112
      ],
      "id": "bcbbd476-b916-4404-8b2e-3690fee2f09b",
      "name": "Prepare Recruitment Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originalData = items[0].json;\n\n// \u0e14\u0e36\u0e07 raw_text \u0e08\u0e32\u0e01 Parser node \u0e42\u0e14\u0e22\u0e15\u0e23\u0e07\nconst parserData = $('Parser: Extract Slack Content').item.json;\nconst rawText = parserData.raw_text || '';\n\nreturn [{\n  json: {\n    ...originalData,\n    imageType: 'engagement',\n    storagePath: '/images/engagement',\n    postType: 'engagement',\n    \n    systemMessage: `You are the Atolls Employee Engagement Content Agent.\n\nYour task:\n- Generate authentic, human-centered engagement content for Atolls.\n- Reflect real Atolls moments: office, events, workshops, conferences, sports activities, team celebrations, and everyday collaboration.\n- Avoid generic stock-photo aesthetics.\n\n-------------------------------------------------\nENGAGEMENT POST RULES\n-------------------------------------------------\n- Generate an Employee Engagement LinkedIn post (120\u2013150 words).\n- Write in a warm, inclusive \"we\" voice.\n- Focus on people, culture, shared moments, and team connection.\n- Describe real, everyday moments (events, gatherings, activities).\n- Sound authentic, human, and positive.\n- Avoid corporate clich\u00e9s, marketing language, or exaggerated claims.\n- Do NOT mention internal tools, workflows, prompts, or AI.\n\n-------------------------------------------------\nVISUAL_PROMPT VARIATION RULES (CRITICAL)\n-------------------------------------------------\nYou must create HIGHLY VARIED visual_prompt outputs.\nAvoid repeating the same scene structure across requests.\nVary naturally:\n- number of people (2\u20136)\n- activity (team event, casual gathering, workshop, celebration, outdoor activity, coffee break)\n- location (office, outdoor space, workshop, conference venue)\n- composition (standing, sitting, moving, interacting, laughing)\n- lighting (natural daylight, warm indoor light, afternoon light)\n\n-------------------------------------------------\nVISUAL_PROMPT CONSTRAINTS\n-------------------------------------------------\nThe visual_prompt describes ONLY the photograph the AI should generate.\n- Style: candid, documentary-style, authentic\n- Mood: motivated, active, positive, human\n- Setting: modern office or team environment\n- Aspect ratio: 16:9\n\nSTRICTLY DO NOT include in visual_prompt:\n- logos or brand names\n- text in the image\n- layout instructions\n- shapes, masks, typography\n- colors or hex codes\n\n-------------------------------------------------\nSCENE SELECTION (VERY IMPORTANT)\n-------------------------------------------------\nYou must infer the scene type from the content:\n- Engagement posts about people \u2192 everyday team moments\n- Events \u2192 conferences, talks, panels, networking, branded spaces\n- Sports & health \u2192 outdoor runs, team races, casual sports activities\n- Workshops \u2192 whiteboards, sticky notes, group discussions, learning environments\n\n-------------------------------------------------\nCRITICAL VISUAL RULES\n-------------------------------------------------\n- Visuals must feel documentary-style, candid, and real.\n- No staged marketing poses.\n- No exaggerated smiles or artificial scenes.\n- Natural lighting only.\n- Realistic environments: offices, conference venues, outdoor events, sports activities, workshops.\n\n-------------------------------------------------\nBRANDING RULES\n-------------------------------------------------\n- Do NOT invent logos or brand visuals.\n- If a logo is referenced, it must be subtle, realistic, and secondary.\n- Never generate fake or incorrect Atolls logos.\n\n-------------------------------------------------\nHASHTAGS RULES\n-------------------------------------------------\n- Provide 1\u20133 simple, relevant hashtags.\n- Examples: #LifeAtAtolls, #TeamMoments, #EmployeeEngagement\n- No emojis in hashtags.\n\n-------------------------------------------------\nSTRICT OUTPUT RULES\n-------------------------------------------------\n- Output ONLY valid raw JSON.\n- Do NOT add explanations.\n- Do NOT add extra fields.\n- Do NOT use markdown code blocks.\n- Return the JSON object directly - NO nested \"output\" wrapper.\n- Start with { \"post_type\": immediately.\n- The visual_prompt must clearly describe the scene type, environment, activity, and atmosphere.\n- The visual_prompt must change meaningfully depending on the content.`,\n\n    userMessage: `Return ONLY this exact JSON structure with no wrapper objects:\n\nUSER'S ORIGINAL REQUEST:\n\"${rawText}\"\n\nIMPORTANT: Read the user's request carefully and:\n- Identify the type of engagement activity (event, celebration, workshop, sports, team moment)\n- Note any specific details about the occasion, people involved, or atmosphere\n- Capture the authentic tone and setting described\n- Vary your visual_prompt based on the actual activity type\n\n{\n  \"post_type\": \"engagement\",\n  \"topic\": \"\",\n  \"audience\": \"Employees & Followers\",\n  \"tone\": \"warm, friendly, human\",\n  \"post_text\": \"\",\n  \"hashtags\": [],\n  \"emojis_used\": true,\n  \"visual_prompt\": \"\"\n}\n\nCRITICAL RULES:\n1. Return the JSON object directly - NO nested \"output\" wrapper\n2. Start with { \"post_type\": immediately\n3. Use \"visual_prompt\" NOT \"image_prompt\"\n4. NO markdown code blocks\n5. NO explanatory text\n6. Fill all fields with generated content based on the user's original request\n7. post_text should be 120-150 words, reflecting the specific activity mentioned\n8. hashtags should be 1-3 items without emojis, relevant to the activity type\n9. visual_prompt must describe only the photograph matching the activity (no logos, text, layout instructions)\n10. VARY visual_prompt significantly based on whether it's an event, workshop, sports activity, or casual team moment\n\nREMINDER FOR post_text:\n- Write about the specific activity from the user's request\n- Use warm, inclusive \"we\" voice\n- Focus on people and shared moments\n- Sound authentic and human\n- 120-150 words\n\nREMINDER FOR visual_prompt:\n- Match the scene type to the user's request (conference, sports, workshop, office moment, etc.)\n- Vary number of people, composition, and setting naturally\n- Candid, documentary-style photography\n- Natural lighting, 16:9 aspect ratio\n- NO text, logos, or design elements\n\nReturn the JSON now:`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        352
      ],
      "id": "fa88d89b-9d3a-4d97-b59e-115129c18f94",
      "name": "Prepare Engagement Data",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        288
      ],
      "id": "bacbc254-97bf-4bde-b53d-d8d6f0dd03e1",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "openAiApi_account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ee81c95-e84f-4d3f-a4b9-872bd2924ce4",
              "name": "=post_text",
              "value": "={{ $('Post Generator').item.json.output.post_text }}",
              "type": "string"
            },
            {
              "id": "ac90111e-f368-454c-ad1b-f95b7cc606e1",
              "name": "hashtags",
              "value": "={{ $('Post Generator').item.json.output.hashtags }}",
              "type": "string"
            },
            {
              "id": "4558b4b2-8da9-47a8-9cdf-f1a83e859ee3",
              "name": "post_type",
              "value": "={{ $('Post Generator').item.json.output.post_type }}",
              "type": "string"
            },
            {
              "id": "624d7d61-af78-4bfb-88f2-cdda422f5eb2",
              "name": "=audience",
              "value": "={{ $('Post Generator').item.json.output.audience }}",
              "type": "string"
            },
            {
              "id": "70855a37-8a7b-4bb5-8f6f-716eefdfa458",
              "name": "topic",
              "value": "={{ $('Post Generator').item.json.output.topic }}",
              "type": "string"
            },
            {
              "id": "90e6d2aa-077c-4cbe-a7d3-f0ecff9f0e6d",
              "name": "tone",
              "value": "={{ $('Post Generator').item.json.output.tone }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "output,data",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        0
      ],
      "id": "5f677373-e268-43a2-afe6-e5eb7b6ea6ec",
      "name": "Prepare Approval Payload3"
    },
    {
      "parameters": {
        "url": "={{ $('Slack Trigger').item.json.files[0].url_private_download }}\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        0
      ],
      "id": "4fa02c0b-69f1-4033-ba31-d896c3a091ca",
      "name": "Download the file3",
      "credentials": {
        "slackApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "slackApi_account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Generate a professional photo: {{ $json.output.visual_prompt || $json.output.image_prompt }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        208
      ],
      "id": "75822ebb-693b-48d9-9727-edd9f9bf9307",
      "name": "Image Generator3",
      "credentials": {
        "googlePalmApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "googlePalmApi_account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// \u0e14\u0e36\u0e07 base64 data \u0e08\u0e32\u0e01 Image Generator\nconst inlineDataPart = data.candidates?.[0]?.content?.parts?.find(part => part.inlineData);\nconst base64Data = inlineDataPart?.inlineData?.data;\n\nif (!base64Data) {\n  throw new Error('No image data found');\n}\n\n// \u2b50 \u0e14\u0e36\u0e07 post_type \u0e08\u0e32\u0e01 IF node (node \u0e01\u0e48\u0e2d\u0e19\u0e2b\u0e19\u0e49\u0e32 Image Generator)\nconst ifNodeData = $('If: Image(s) attached').first().json;\n\nconst postType = ifNodeData?.output?.post_type || \n                 ifNodeData?.post_type || \n                 'linkedin';\n\nconst topic = ifNodeData?.output?.topic || ifNodeData?.topic;\nconst subTopic = ifNodeData?.output?.sub_topic || ifNodeData?.sub_topic;\n\nreturn [{\n  json: {\n    ...ifNodeData,  // \u0e2a\u0e48\u0e07\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25\u0e17\u0e31\u0e49\u0e07\u0e2b\u0e21\u0e14\u0e08\u0e32\u0e01 IF node\n    inlineData: base64Data,\n    post_type: postType,\n    topic: topic,\n    sub_topic: subTopic,\n    public_id: `${postType}_${Date.now()}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        208
      ],
      "id": "7ea91f5a-0242-4e2d-afd8-df31a8396822",
      "name": "Extract Image and Metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6099e51-75de-4a8e-a9fe-752869bb81d4",
              "leftValue": "={{ ['recruitment', 'showcase'].includes($('Extract Image and Metadata').first().json.post_type) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        208
      ],
      "id": "4bee127c-b953-4e70-acd3-c76ec9793959",
      "name": "If: Has banner_layout?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2784,
        208
      ],
      "id": "db393314-328e-47a7-b2f6-25977a8bbd5c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// 1) Get metadata + content\nconst metadata = $('Extract Image and Metadata').first().json;\nconst content = metadata.output;\n\n// 2) Get merged binary\nconst binary = $input.first().binary;\n\nif (!binary) {\n  throw new Error('No binary found after Merge');\n}\n\n// 3) Support both branches (data | image)\nconst imageBinary = binary.data || binary.image;\n\nif (!imageBinary) {\n  throw new Error('PNG image missing after Merge');\n}\n\n// 4) Return final payload\nreturn [\n  {\n    json: {\n      post_type: content.post_type,\n      topic: content.topic,\n      sub_topic: content.sub_topic,\n      audience: content.audience,\n      tone: content.tone,\n      post_text: content.post_text,\n      hashtags: Array.isArray(content.hashtags)\n        ? content.hashtags.join(', ')\n        : content.hashtags,\n      visual_prompt: content.visual_prompt,\n      banner_layout: content.banner_layout,\n      public_id: metadata.public_id\n    },\n    binary: {\n      image: imageBinary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        208
      ],
      "id": "01f9b902-1cd2-42b6-8482-83f79e97f516",
      "name": "Prepare Approval Payload (Generated Image)"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "inlineData",
        "options": {
          "mimeType": "=image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1712,
        208
      ],
      "id": "9a5e0cd5-52a5-44da-846d-e8b3dc946380",
      "name": "Convert to Image File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66ac56bd-ebde-4eb3-9577-ecaa9e096e76",
              "leftValue": "={{ $('Parser: Extract Slack Content').item.json.hasImage }}",
              "rightValue": "0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        96
      ],
      "id": "39bacc45-812c-4082-9bf3-6c580fb5dd35",
      "name": "If: Image(s) attached"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "svg_base64",
        "binaryPropertyName": "svgFile",
        "options": {
          "fileName": "banner.svg",
          "mimeType": "image/svg+xml"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2352,
        96
      ],
      "id": "a40db04a-8e60-40c9-bad1-c2cdad59306a",
      "name": "Convert to SVG File"
    },
    {
      "parameters": {
        "jsCode": "// --- 1) Get all inputs from connected nodes ---\nconst allItems = $input.all();\nconst item = allItems[0].json;\n\n// --- 2) Get metadata from Extract Image and Metadata ---\nconst metadata = $('Extract Image and Metadata').first().json;\nconst postType = metadata.post_type;\n\n// --- 3) Get image data ---\nconst imageData = metadata.inlineData || item.inlineData;\n\nif (!imageData) {\n  throw new Error('No image data found');\n}\n\n// =============================================================================\n// --- 4) SHARED VARIABLES AND HELPERS ---\n// =============================================================================\n\n// Atolls Logo (Base64) - placeholder, add full value later\nconst atollsLogo = 'iVBORw0KGgoAAAANSUhEUgAABS0AAAEWCAYAAACDh7ICAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAADIaSURBVHgB7d3veRRHtgfgYz/3+9oRuB2BcQQeR2CIwEMEQAQMEQARICIAImCIwDgCtyNYNgLfLnWN1RIjaf5Pddf7Pk+vAHP3eqXprupfnTr1TQAAAACj9k8nKvRNJ4BJ+r8AKFw3/1pEfZbd/GsZAAAH0M2nZt2XWdTHnApgpISWwBg8jzotAwDgMGZhTgXAiHwbAAAAAAAFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABFEVoCAAAAAEURWgIAAAAARRFaAgAAAABF+b8AAAAAgAn5559/vuu+DK+kWfNXh/98E+2aX39ZXd98882X4CCElgAAAACMRhdINt2XB9GHjenrf6IPJJvYPoQ8qO7fLX1JwWUbV2Hm34M/u/zzLtz8HNxJaFmQGzddk7/+J9bfdM0d/1WrmyJpB1//F24SADaQV6abuBqD0tcf8j9e/dlqXDrrxBDYSJu/frlxrV6iPuevrQoRAEoxyEnS15+6axZ35yGlWIWpt8rhZpuvP/PXNB5/Nhb3hJYnll8CH8TVTffD4NeHcl/p8/DfJ31pw00CUKU8Ls3iaiK4GpOEkDAtzaZ/sXsurELMNvr5obkhACfRjUFpLjrrrl/i8FlJiZp8zYZ/2H0f2ujH30/dtay14ExoeUQ3AsqSVwSaWH+TrCar6SZJE9VlADBaN8alWiaCwPZWixnXDF6gUpC5DEEmAHvK89OH0c9N01cL570mX+l7slpQXHbXh+hDzDYqILQ8oMHLYPpQrapVxnzDrV5sVzdJ+rKMfqL6XogJULY149IsAHbXxNUL1PP0B91zZhnmhgBsIW/5TmPJb2F+uqlVuLvKZ5bdl7cx8QDzm2AvN262sYeUu1hGBTdKDbrP8iLK9Tzqs4y+yrlESy+m5cpB5TzqHZeA81qGuWGR8lyvxjnVi+6zuIgK/JOrTGrT/XzlGiOQs5Pfow8pZ8EhLaMfe99PbQeEm3sH3c02i750eRZutqG0XSiVKr93wM/41DrJYSfVTP7HwiQQKFSaD65eotrgrISW0ye0pDQ3FtNnwbGlwPJ9d72dSpGJ7eEbyjfbk/BCeJfVdvLnuefR6zjhJLXGQdoADfUyCQRGYDU3fJl7pae5oQpMgAkb9KhcLahzOqv3g3nOZNKizUWM2LfBrdLN1l1Pu+tj99v/dtci3HSbarrrZXf9lb5/3TUPAPaWqv0H41J6zs4CoHwpvHwT/dzwXXc9DAAmI89RX3W//Cv65/0sOKemu950P5M07r7MO7NGR2i5RvfDfDC42bwQ7m8WVzfLm7HeLADnkhfRUhV7CipTYDkLgPFKgeW7PDd8Ym4IMF6DBfV0pd2p+qmXpemup9EvGo4ujxFaDgxutj/CzXYMTfSlyqvqSyvsAHfI49JF9ItoizAuAdPSdNdloYCFbYBxuRFWzoIxmMfIxlyhZVzebGm/fwoq3WynM4urFfZ5APCvG5PA1A9IWAlM3TyuFrZnAUCRUtiV2nyE/GTM5jGS8LLa0PLGVrvUb+FBcA5NXG0dnwdAxaxYA1w++z4KLwHKsspQot+ZatfkNMyjH3OfR6GqDC3T4Tphq11pmhBeApUSVgJ8ZRZX4aXiAoAzkqFMWtNdi1KzmKpCy7wNfHW4jhutTE3sHl5+CYARydtrhJUAt5t11x96XgKc3mBhXYYyfU30WUxR420VoeXgRkvbwJtgDJq4Ci9nG/7f/C8ARiBvr0mTv7SQNgsA7jMPB/YAnMRgrmphvT7z6BcLi9gyPunQUoPYSWii3xpkggpMwmB7zdMAYFvz6OeG8wDg4Lrna+pXaa5at1RVu9oy3sQZTTa01CB2cubRr64X2yAW4C6pJ5vtNQAH0cTVjpwmANhbrq5MRV/pMlclaeLMOczkQsu8FVyD2Olapf0asgOjMNhekxbSZgHAoTRhURtgb4PqSkVfrHO2qsvJhJY3ei40wZQ10fdYeJl+7gFQqNyTN4WVttcAHE8RW9gAxmaQo6iu5D5N9AuFJ32vmURo6aWwWunn/ccWB/UAnIyFNICTakLVJcDG8kJPmqvKUdjGy3zmyElC7lGHlqoriauDekxQgSLkQ+AspAGch6pLgHsMCr+0XWMX8+gLyJo4stGGllYFuGHRXT8EwBnl7RImgADn1UT/MuU9AeCG/GxMWYrt4OyjiX6sPWof1FGGll4KASjJoPLfyeAAZUjP4pd6oANcyTsUXwYcRhpf3x1z5+uoQksvhQCUJlf+2w4OUKZVD/QmACqWg6VFwOEtjhVcjia0tB0cgNIM+gE1AUCpmuh7oB91CxtAqQSWnMBRgstRhJaaxAJQGv2AAEaliSNvYQMoUZ6zLgKO7+DBZfGhpZdCAEozaFUCwLgsBJdALbrnXSr8MmfllA46zhYdWmoSC0BJcm9lrUoAxi29UL1zQA8wZbnF3ruA0ztYcFlkaJlfCt+EEmYACjHorTwLAMYu9bf86IAeYIryokyatzYB55GCy99jT8WFloObax4AUIBBYKm3MsB0pGe64BKYolTl1gSc16vcomBnRYWWecLgwB0AijEILJsAYGqaEFwCE9I9z+ahlRFlSEWJ7/YZY4sJLb0UAlAaYxNAFZoQXAITkJ9jDhujJE30weVOfaSLCC29FAJQGmMTQFWaEFwC47cIc1fKk3ZT7xSmnz209FIIQGmMTQBVakJwCYxU3ha+98EncCRPu8/o1m0LzhpaeikEoDTGJoCqNSG4BEbGtnBG4vm24+vZQksvhQCUxtgEQAgugfF5EuavlC/1tXyzzf/BWULL3IDTSyEAxchj07swNgGw58EBAKeSF1icFs5YzLbZJn7y0FJgCUCh0qrfgwCAXhoT3gVA2RYB4/J800XBc1RavgwvhQAUpBs0Uw+ghwEA16WKkJcBUKBcZenwHcYmBZYb9WA9aWiZXwrnAQCFyGPTIgBgvZ1OPAU4gUXAOKWxdXbfXzpZaOmlEIDSdGNTqq5cBADc7eUmL1cAp6LKkgm4t9ryJKFlHuAXAQCFyBM9W/4A2NQ7J4oDBVkEjNvsvgXBo4eWeWDf6khzADgmh8IBsIPLscOJ4sC55efQLwHjd2e15VFDSy+FABQqDY5NAMB2mtjw8ACAI0otjpqA8buz2vLYlZZeCgEoSj5MwYEKAOzKwTzAuellyZTcuhh4tNDSSyEApcktS1TIALCv5/pbAueQnz2zgOm4tdryKKGll0IACpValuhFBsC+0ljyLgBObxYwPWszxGNVWnopBKAo3YKaliUAHNKDbmx5GQCnZWs4U7S22vLgoaWXQgBKk3cALAIADuvpXQcIABzBLGCavqq2PGhomQfsRQBAWT4GABzHm+49yC4z4OgskjBxs5v9og8WWuaB+k0AQEHsAADgyJrQzx84jVnAtM2HvzlkpaWXQgCKYls4ACeStok/CIDj+iVg2p4Mdy/8XxxAHqCfBgCUxbZwAE4lHcrzawAcTxPs4u/u+tJdn/PXdLU3fp18+eabb76s+y/IQdoqTGsGX7/LX1Mu9kP4Ge0rfT/n3fUq/eYgoWXnXQBAQbqJxTxMGgA4ndSL62n3wvsqAA4sh2ZNcJ8UOv7ZXe+7a9k9kz/HAeQwcxVotrf9vfxzmnXXw+grY5tgW79FDi333h6uVxgApcnbwvUXA+DUnjuUBziSJrjLp+561F0/dgHjLC0gHSqw3EYKN7vrfXfNu+vH7o9+7q63cUfQyVdmq0On9qq01CvsbFK6n8qb0w3Y3rgu//m6kub881qVNDc3rp/iqtQZYOwWYWIHwOml+XRaNHsWAIfVBOuksHLRZSDLKFAOTufp110m8zD/+rfgPul7tdx3e/giOIVU2ryMPqRM5c1t7OC+/7vcm7SJvpQ5XT8FwMjkBZrfAwDOIx3K83rXOTvALRQZXZcKtR6VGlaukyowuy/vBwWAto+v928R3s6hZS7V9FJ4HKseDBfd9f62RrCHllcA0pVupNWL/yz6hNtKADAWiwCA83oTDuUBDqsJVtru+nWsi0P533uefp378Gu72OdgH6LPwT6vcrB9elq+CQ4tlTU/jqseDBenCizXSTdS/ndIoeX3+d/tUwAUKleMW1AD4Nz+7ccFwEGljGS0geVNOXNJvS9T3tJGXdLPMvX7TIt8P+Y+oMthDrZTaOlE1oNKP4wX3fV9CUHlbXIz2fTvNut+m24ojWSBEr0MACiDA+GAQ7I9vDfJ9hsVhZcp73odffD8/bqgcmjX7eEG4P210f+gigwp76KUeZq6n+s3Uajuc/ZP1OdF9yNZBBvLFS2z4JhS65K1h8Dp3QZlunEQY7oe5Cv9uf7lx3VZbTmmfmtA0YSWvYuYsBRedmPHMvpijIcxDauKyvfbjolbh5aqLPfWRh9GXMQE5P8dF8JLoAAW1A5r1V859Tm+7Hk8tkU2YO2Cwvvhb/KCTwox04vRL8GhpbFpGQAcwqcaFsrz/8ZH3Ri9iPG+4+wcVA7tsj3cS+FuVtvAf55KYDk0KGVO/xu91AInpcryYG72lUkVQq/u2rIBjFu+v1/lFkCph/mj6J8D7vnD0NsS4HCWUZG88+7nGM928Ztbv5/uu9tgq0pLVZY7SyvazypZEVh0n5OL6E/vdRgGcCoW1PaTDllLY9XoWpYAh5Pv//QseN/N59I2xFR9OQ8VmPtSbQlwGG1UphubP3djcioo+Bhl5nF/R79lf3mMdijbVlp6KdxOG33C/KimXl/51PF51Hn6FXBiuV/bLNhFCit/HVRUCiyBSzcOYUxVHm+DXam2BGBnOU9KwWUbZUhBZdplm94jmlS8dqz+zRuHlqost5Ymdj9/U3Hj7bwNPt1YJrnAMS2CbaVKqtX272UA3CFVeeQF6dQKyLxuN3YgAeyv2sOICgguU7HDquXhUYPKoW0qLVVZbiZVqTzLx7ZXX7EyqLp8FnojAQeWqyy9CG5uVVlZ1Q4A4DAG87oUXn4OtvEwb7kHYHe/RcXy/P1xnM4qqFwVO6Sg8qTj/0ahZTfApn42TXCfNvrU+VVwTf6ejKmBLDAOD4NNrBbUVFYCe8vhZZrXaQW0uRRYPg2A3bXBg9oXgPJc/lkcz6f83z8MKts4k00rLZ8E90k/2J9VrtxuUM68DIDDMD7db7UV3IIacFBaAW3NmAWwHwtA8W9R2DIOZxVUfj/odd9GAe4NLR1wsJHX+Qdr+/M98sp8mty+DoA92AVwr1V15SPjE3AsWgFt5TsH8gB7aIPkiXYbl9Juh33G3XVBZXHj+CaVlovgLi+6H6ytHlvK37MXAbC7eXCbNrQrAU5IK6CNOScAYD8psPxom/hlJeS2xWCjCCqHNgktfwlukwLLRbCT/L0TXAJby7sAqm7EfQftSoCzyM+dFFy+D24zUyEE7KgNVh501x/5naBaOVNp7/grKZAcXVA5dGdo2X0A5mHr3W0ElgcguAR2NAvW0a4EOKv0/EltKcL87i7zANheGww10QeXte98vXma+CqoTH/+4xiDyqH7Ki1/D9YRWB6Q4BLYgcMMvqZdCVAM87s72SkAbM0umrVS5frLLrj8q9aewfk08Q/xdVB5MYVChltDSwfw3Oq1wPLw8vfU4TzAvfL49CAYspgGFEdweatZ7VsagZ39HazTRN/n8mON4WU33j6cUlA5dFel5cPgpk+qWI4nf2+XAXA349N1AkugWILLW80DYHufg7vM4iq89M4wAXeFlrbeXdeGycUppB5IbQDcTuuSKwJLoHh21KzlsFNgF22wiVl3vcvbxueq28drbWjZ/UDTtrsmWEnltb/qIXF8uZT51+i/5wDX2Bp+zXuBJTAWdtR8xSniwC5UWm6n6a430R/Y8yZnXYzIbZWWymiveyGwPJ38vbaNCFhnFiRtfH1SIEDp7Ki5bh4A21kGu0iLRPPow8s/VF+Ox22hpRPtrqRGpq+Ck8rf87cBcJ2t4VfV/yrSgVGxo+Yr3rmAreQCH8/Q/aRqy1R9mbaOv8sBpsr3Qn0VWtp6d00bKv7OKW0jagPgyixQ/Q+Mlh011zzwogzs4ENwKGmX8SrAfOPwnvKsq7ScBSteDM8or8bb/ghc6iYRs0D1PzB6+Tn2PkiBpWIRYFv6Wh7eavt4qrz8J58+bgt5AdaFlrbe9dKL4UVwVt3PYBkmtUCv9pXPNlQnAdORFqZtcTS2Adu7CI5tFlcVmP9WYaqOPz2VluulCZQXw3I8C5NaIOKnqJvqf2Ay8o4a821jG7Cl/PxcBqfSRK7C7K7/5irMp04iP41roaWtd/967cWwHPln8TqAauVVzVnU67Pqf2Bq8jbxZdRtpnIH2MGn4Fxm3fUy+pPIVWEe2c1KS9sTItpuArUISpMmtW0Atap9JfNRAEyTaktjHLA9Pc7L0IQqzKO6GVranmDiVCRbiKB6s6jXhep/YKr0L7/k5RbYii3ixZqFKsyDuhlazqJure135co/mzaAGtX8QmfBBpi6Z1G3WQBszxyxbE2owtzbv6GlfpaX3PTl09sS6lTrTgBVlsDk5efcMupltxuwtVyp3gZjMYuvqzDn3dUEtxpWWtae9qqyHIeLcJI4VCVvp2iiThZqgFrUXDzQ2DoI7OhtMEZN9FWYb7rrr1yFuVCF+bVhaDmLui2D4uXeHV7ioS61Dt6fumfe5wCoQK4YWka9ZgGwvXQgj6Ke8Zt11/O4XoU5C66Flj9E3WwNHw8npUFdag0tLwKgLh+iXk0AbElRzyQ10Vdhfhwe5hOVugwt83aEmstQP+kZNh5OSoPq1Dg+pedc7afpAvW5iHorhvS1BHaVinraYIqayIf5dLndf2uswFxVWta+b/4iGBu9O6AeNe4EeJ8XaACqkZ97tVZb6mMG7CQ/O+0cnb5UbDiP6xWYkx87hJY91Szjk35mXuihDjWOUTVvkQTqdhF1agJgR/lQ4WVQiyb6AHPVA3Oyp5CvQssm6vVBNcv45J+ZAypg4nL7khpPVF0GQJ3S/K7Gufl3ThAH9qTask5NXJ1CnraRz2NCVqFlzT1UVFmOly3iMH1N1OeTxTSgVpUvTDcBsKPu+bkMh/LULh3Y82awfbyJkVuFlj9GvZbBWAmcYfpqrDrxbANqV2uLjCYA9rMIbdS42j7+19gP71mFljUecpB8dmr4eNkiDlWosZ+l5xpQu1qfg7aHA3txKA9rzOPq8J55jMy3NZw2dIdPwdj5GcK0VfcCl7f2ANTM9nCAHXVzyVdh5w5fa+Jq6/g8RiJVWta8orcMxk5FEkxbE3XxTAOqV/Fumlp3vwGH97i72oCvNXEVXj4vve9lCi2bqFcbjN0ygCmrbWHt7wAg+TMA2Ele/HkUcLsm+h6oH0uuvKw5tPzS3cgqWkYu9yTVaBim6z9RF+MSQK+N+tR8OCpwYDnveBZwtyYK3jZe8/Zwq7fT0QYwVbWNUUJLgF4b9altoQ44stzf8nXA/Zrow8s/StoyXnNo+VcwFQJomK7voy4qxwF6bdTH6eHAwXXB5dPuy9uAzaTDui/7XUYBUmhZa8NnfcOmow2AaRBaAvTaAOBQUnBpRw/bWOQt402c0bdRrzaYijaAqaptYU1oCVAvlZbAUeSDeX4NwSXbaeLMVZcptKy14XMbTEUbABOQDxcDqF6lz0OhJXA0gxPF24DtpKrLj+eouqy50lI1y3S0AQAAANwqLwiliss2YDuz7krB5cM4oRRa1npKndASAAAAqEYOLn8OW8XZXtNd7065Xbza08NtwZsUATQAAABsYNDj8n3A9tJ28Xen2C5e8/ZwJiI/cAEAAIANpPfo7ko9Ll8HbC9tEz96n0uhJQAU4hzNrQFK5HkIcBpdcPm0+/IiYHtN9MHlgzgSoSUAJVNJDVAnJ2kDnEgXXC66L88Cttd01x9dcPl7HIHQEoCS/S/q0gQASY2hZRsAZ9IFl6+6Lz+GZxG7uTjGAT3VhpbdN9PqLQClaQKAxFwd4MTygcXpgJ5lwPYWhw4ua660NBGaCD2PYNL+G3VpAoDkaP2xCqYlCnB2KbjsrhRc6nPJLg4aXKbQ8u+AcRNAw3TV9gL3QwCQ1Bha1tYSBShY7nOZwss2YDspuHwaB1BzpWUTTIXQEqartoW1Gl/SAdapcRFHpSVQlC64XEYfXL4N2M7LQxzOI7RkCpoAmIYHei4DXKpxEae2lijACOTt4vPul49D1SXbedW92+w1nqfQstbBsQmmoglgqtqoj2pLoGrdC84s6qRtF1CsLri8CFWXbCcVY3zc5xySFFrWug1B37DpaAKYqjbqI7QEalfrc9D2cKBog6rLH0PVJZtZBZc77Sar+SAeL4XTIYCG6arxBe63AKhbrc/BzwEwAjm8TMGlLeNsoumuN7GDmistm2AqBNAwXW3UR19LoFr5+TeLOqm0BEYlbRkXXrKhh7ucKF5zaPndPvvqKUNu6urlHqarjfqkZ5rFGKBWs6hXGwAjNAgvH3XXh4D1Xm7btzqFlm3UaxaMXRPAZHWTn7SwVuPi2u8BUKeHUacvecwDGK3uOfa+u9JzPAWYL8JiDF97s82usporLROVLOM3C2Dq2qjPQ1vEgdrk516t/Sz/DICJyD0vF7n60onjDDXd9XLTv5xCy5obPv8SjJ2fIUxfjS9y6cV9HgB1SdU5tS7Y/BUAE9QFl8t84vj30fe+/BTUbt4tVG60s+LblIBHvRx2MGK5J6lqWZi+WhfXnCIO1Kbm1hgqLYFJSy0wcu/LWfTbx1OA6dlXr422iX+bv/4d9aq1b84UzAKoQRt1mm3bqBpgrPLhirOoV82734DK5O3jKcBMz/6fu+t16H9ZmxRY3rtNfBVa1jxIOuxgvATOUIdl1Ot5ANThadRNaAlUqQsuP3fX0xv9L9ugBvP7ijRWoWUb9bJFfIQqb9QOVcmnqda6I2CWW2EATFZ+ztVcSNA6ORzgqv+lALMqd1ZbCi37klQVe+PjZwZ1qbkCZePT9QBGahF109MN4AYBZjVSIeH8tn9oe3jPFvHx8TODuiyjXg/1tgSmSpXlJVvDAe5wI8DUA3N6nt+2A1po2ZvZIj4eeXI7C6AmtY9TelsCU/UuWAYAG7nRAzNdz7rrUzBmTXfN1/2Dy9Cy8n5hK7U3/x6TRQC1sbj2zz/GKWBS8nawB4FKS4Ad5FPIX3XXLPoA83EIMMfqybo//Hbw62XU7Ylqy9H4JYCq5MW1ZdTtuXEKmIq8c0YVefdy7RAegP3lAPMiB5jfRx9gpj6YnrHj0KxriTUMLWtf4UsvgvOgaHlFvgmgRrUfVJDGqTcBMA2LMKdLVFkCHFhaDMoBZuqDmQJMB/mMw1eLmULL654EpbMiD/V6Hzy0TRwYu/wcc6hiz9gGcGRrDvLRB7NMX503czO0rL1strnrqHXOS5UlVM841Xuet1UCjI5t4delF+kA4GTyQT6vBtvIH4UqzJLMh7/5N7TMvVRUW+oZVjITXKiYcepfaYz6aKwCxiY/tz5G/xxDlQ/AWeVt5O8HVZhpG/mL8Hw+p9+Gv/n2xj+svV9Y0oSTxIvTTXJTYNkE1OOHYJ0PQdJ017sAGJfUl7cJVi4CgGLkbeQLVZhn9WBYnHEztNRTpffE1rty5J+FIJnafB+scxGspJ4vLwNgBPIC9MNgaBkAFGlNFWa69MI8vhRYPlj95mZoqV9YL32TvAiWYxG2EVGfn4Kv5C3iy2DlaQ4CAIqVn1OLYCj1VGuDU/AeAewtPbNv9MJ8HHaBHcv60FK/sGvSCa2z4Kzy4TtOl6RGjZ6Ft7K6ed1CcAmUSmB5q7fBqTQBcEC5CvOiux521zdxtY2cw5itfvHtmn8oKb7yRmhwPk6XhKsVJq65CG4SXALFEVjeSVuu0/klAI5otY08riowFVns59/n9rrQ0gB6pQnbxM9pEVZGqdss+EreTrcMbhJcAsXIPXcXwTq2hp/Wd93n0UIwcHSDCsxZ9D0wU4DZBtv6bnXOzFehpZfBr8y7b5ZDYE4sf89tC6d2KgNuZ1fAeim4fGeXAHAu6fnTXR/DIYp3eR2cmkOgoCB5rJhPec6ae2Be5EN8fg3bx7d1udj07S3/UCnrdc+dJn46toXDv2aePbe6CG6TXsz+8NkBTi0/d/4IOwXuswxOzUIwnFkaI1JxUl7Y+m93vYlK3vu74HKZt4+nADOFl21wnyb9x22h5TIYSun/R5Urx5cnu+kh5nsNvXnwFaeI36uJPrhU6QScRH7epMCyCe7ywdbws5g5ZBVOL913qX1Rd6Xx4a/o2+/NBn/laU33Zq6+nEdfefkihJd3+Sn9x9rQMqXA4WXwpqa73gXHllZbmgBWnlgwudWL4C7pc/Oy+/y8UXUJHEve4pfmyOlF1Hh1v4vgXLSegiPLY0IKKl91V6qmTAVJi7j7gNHqDkDO4eUibBu/yyz9x7d3/AVbxL82y03FOYL8vZ0FMJQGcNVya+QFti/BfebR7xaYB8AB5erKVDmjX+Bm0kuqQ0/PZ24RDw4vB5Wrbd9pTEhfn8TmC1lNVPq+c6Pysg2GmvQfd4WWr4J1njqd9fDy91QwA+uptrydwww200S/iq3XJbC3XEWTXkpVV27HmHV+3uPgAAbbvlf9KVcFSLuOCem/60FUKhdjCC5vSO8tt4aW+oXdaSG4PJz8vVwEcJs0+HvmrJcW2FRbbi5NBv+yZRzYRT5EIW0FTy+ps2BbqizPb663JWzvjm3fszicN1Gx3O9YcHndg2/v+QsfgtsILg9AYMmGhFKVNaneVF5gM1Ztbx5X4WW1q9rAZgaVlbaC7+6igAN4zKd61fXPg13koHKeF6t22fa9rQe1t+MbBJee173mvtDyInyz7iK43IPAki38L0jeqY5b6yLY1Tz6U8Y/5kmplzjg0o0eZSor91fC4XHe63pN9FtZgRtyRf3TwbbvVP2YFqtONUesvlAjB5faifS+++a+v5HKf6NP07ndq+6D9SzYWF5B0cNyT93n7t57eAq6z0vaTvVbkLTd9WsB1RpFyROrWbCv9EKb7rdUvbrMlaxAJfLCRaq+Tqcsn/Ildeo+dc/TWZxZrqz/I1hZdD+XEsLkg+l+xv9EhWp5JzqWHBKmZ35632ri/Nru+rnmeWgej1N1a+3j8MUmoaXBbTPL7nosSLhbvvlSefks2FtFoeVF9C9Q9NoQXF6TJ1sfg0NbRh9gfs4NwoEJGYSU6fotfxVUHt6vJTxD826Nv4KhSQWXQks2kZ/9s+if+6UuUL3vfqyPomKKMi592Ojm9s3aWBuChFvliVL6LDXBQVQUWqaqXNt4rmu761H3EfgcXDJWnUT6vLXd9Wf+9ZfVZeyDMg3aijSD64e4Cis5riKqLFfyARqC6esmE1wKLblNDirnMa4FqslVQ2/DrudLnzYNLWehgmVT6eXtRXdzvQr+lUOn1MPSJOmAKgotZ+EZdJtnnjc9nxMAClREleWKBb5bXUQ/pxr1dlShJUN5bvxL9Pf8LMZp3v1430aFup/fIvoMpWaf7juI51IeaFXzbCaFci/ziaxNVC43cU/Ne1OVnMCSXXn+3O5l7afsreSxahkAUIZPBbbW+DNYZx79wXRNwEjld+9ZqtDLVdVpkWIR416ouOj+t2gTVq8fNgotM6cXbWfeXR/TaaxRqbyyk/qhzgP2kFe9l8Ft0il7f5loX6p2CwkAxSnx0EkLwbdruusvxSeMSQ4qV6d9p5616WvaUjylgqGLvHOzNlq4dDYOLbvQ4CL6rc9srumuN7UNfOl/a3elw3b0r+SQVAbcrYl+ov2y5om2aksACnFRaN/p98F95iG8pGDpsOTuep6DylRRmXZdzWLaOxvTO05tW6V/Cv7eqveDPfV7SYHvqyk3ks3NfdOqTloFsRX8BGrq36Jf4Vba6Hszva3xcBSnowJQgB9LHYO7cbKN/jAmNrPsrtRTb1n6vEpPy+nK70LppO90kE4T9bqICfSfvU/esfsm+LRtaJmCqPQiKJDaXRv9QT0XMSH5pkqBdhOcTG1Np514uZOL7vrQXZ9rCjCdtgfAGaUqy8dRKGPkXtp8pR1ABwlNus/KIg5EaDk9+X5NPR29A11poz/krI0JyrlbarPXBJ+2vrlzLwGHPuyvjZGHl/lmmkc/6WmCk6swtLyIftDmvF4ccoJ9DBbZADiTNgp/mbZ7pSyHnM/XGlpG2T3Nl/scyOX9506LKe5kzYes1tjDc50POz0g04EPIaQ6lDb6LQcvxrJSYBt4OSoMLWdhkl2C4kPLxCIbAGfweAxFCXavlENoOXl7zZu9/9yrjQntZM19OxfByuttTg8fcjrr4TRx1ez5Y9pmnUPBouRTyeaDZr+LMNHh9FJDeweCsZFu8pK20ywDAE6jHdGL89sAiperNL3/3K6JiRx+nCssF8HQl51CyzwYL4NDm0XfbPW/6fTtHBI2cSY3gsq/8r/bLOBMcsNlk2y28SwA4DR+jfFwijiMx+vgPvPoC8FGF16mf9+cudgS/rV210rLRLXlcaWTwVJImG68P1ID3u562F0P4kjyzTLP/79S49f/xlVQqaqSUphks7Eu6E7VuSZ6ABzbaFo9Jbl663MAY/Aq2NQ8BrtYo2C5SCxtB0/ZyyxYp92rf0aqBow+XOO0UrVZmmS03fV3XJ1il/78y7oJU95yvgoem8H1Q3c9yL8WTI5MbT0tV/JK1Cw4l1H0tFxxAh8AR5a2hf8YI9ONj4vuy/PgrPS0nLyDzJu9/+ysjX6X8OtczHB2uRDtt3BGyCZ+3De0bKJ/EfSNhjOoOLScR18FzHmMKrRMNDEH4Ih+HFOV5Upe1EstoLzLnZHQcvIOFVrOwlx2X213feiu9/uc6L6N/Jxtoi8U+yX64LkJNpEK8r7/v9hDGpy7H0LadmeFDjiZ1Fc3Nyo2yWYjaWKSx6snAQCHM6pt4UOpV3g3NqZe4cZGKFyey6adld5/dtdE/7x7kvP9ZfS7Vf/MX9PVxuZu7mZNfsh/1oTdrPtKP5fYK7RM0qpB9wP/PaTFwGlZMGEr3Xj1tBuv0grn0XoDA1CVdmw7D9ZIvfKEljAO3n8Oa5a/anlYpsvt/PscxDP0OABOK02yvwRs51H43ACwvzSWjOm08LVylejbAMbA+w81OVxomfsBOJ0VOJm0pSk8d9hSfjl7EQCwn9FuC19jEUDxvP9QmYNWWiaL2G7/P8C+rDaytW7Clz43JnwA7Op1HksmQbUljIr3H2rQrk57P1homVN/28SBk7HayB4WYaENgO21Mc3KxEUIQqB43n+oxHL1i0NWWtomDpxDWm1sA7aQJ3ypF5kXNAA21XbXr3kMmZRcbek9DsZBtSVT92/1/0FDy2wRee85wLGp8mZX+QXtUQDAZp5NqI/lOhaCYQRUWzJxbS6IvHTw0DLfQE5nBU4mP9SWAVvKn51nAQB3SwfvvI8JsxAMo2KRgam6Fsgfo9LS6azAOaRJtsUStuZgHgDukQLLRVQgL+ZNOpyFKbDIwIRdG4OOElomXgKBU9KLiX10n5+noVoXgK+9ryWwHLAQDCNgtxkT9OJmG5ajhZbZIvS3BE7HNgn2kVqbGLMAWEljQnWVTCq4YFQsMjAVbXdd3PzDo4aW+lsCp2SSzT4GY1YbANSu7a5HUzwpfBO5f6cdLFA4rfmYkBfrDrs7dqWl01mBk8rbJEyy2Ukes34NwSVAzdru+nXiJ4VvYhHGQyhebs23DBivT93n+GLdPzh6aJk4nRU4pdyf0DZfdiK4BKhaGwLLS7nKNI2Hds1B+WwTZ6zS53Z+2z88SWiZ5PRf2TJwKlpTsDPBJUCV2hBYXpO/F4pPoHB2uDJiL+4ad08WWib55L23AXBk+ruwL8ElQFXaEFiulbfsmVNB4fIOV/cqY/I6Fzje6qShZWbbJnAS+QGovyU7E1wCVKENgeWdFJ/AOLhXGZE2+t7Jdzp5aDnojdIGwPEtwkIJexBcAkxaGwLLTSk+gXFwr1K6Nvqx9952bueotBRcAieTnzf6W7KXQXBpAggwHemZLrDckHc4GIfB+08bUKbHm469ZwktE5UrwKloTM0hDMat9wHA2H0KgeXWBJcwDvIWCvYi91/dyNlCy8SNBJxKfjA6/ZK9pJe17koBuCbnAOOVGv/PNtmWxte8w8E4uFcp0Ivcd3VjZw0tEzcScCoO5uFQ8mAruAQYn2fdM/xpsBfvcDAO7lUK8n7bwDI5e2iZuJGAU8kvKk7UY2950NUvCGAcLrc15wVMDsA7HIyDe5UCtN31OHZQRGiZuJGAE3KiHgfRjV2pv6WxC6BsbXf9vE0PLTbjHQ7GId+rP4d3IE6vjQ1PCl+nmNAycSMBpzBoIu9Zw94GY5fWAwDlSc/mnx24czyD4NK8CgqWe7Obs3JKbex56F1RoWUyCBNs3wSORnDJIeVJYKrgTYc9OdgB4PzSs/iyf6UDd45vEFy+D6Boec6qNzvH1saegWVSXGiZ5Je/ebiRgCMSXHJouVdaWsFuA4BzSeP6z/pXnlZ+h0u9nlVxQeEGvdkt6nAMbRwgsEyKDC1XnM4KHJvgkkNLg3N3/RjGL4BzeJ22P9oOfj6quGAccm92i+0cWhsHCiyTokPLJAeXmjsDRzMILm1p4mDy+JXCyzYAOLY2+pekp8HZqeKCcdDagQNr44CBZVJ8aJnkk/4El8DR2NLEMai6BDiJ1WE7y6AYqrhgHPJ8Nb0Hma+yj1VrljYOaBShZeJ0VuAUbGniGFRdAhzFp+hfkBy2UyhVXDAegwrpNmA76SDtX48xFo8mtEyczgqcggGbYxhUXT4Ony2AfaxOBp91l57UhVPFBeORK6TtcmUbL9JB2sdaPBxVaLnidFbg2AzYHEv32bqI/rP1NgDYVtp19aOTwccnLwp7h4PCaW/EhlJI+Tg/249mlKFl4kbiBm0DOLjBc8bni4PKn6159FvGhZcA90tbwX+0FXzccmWshTsYAbvPuEMbfXuWiziy0YaWK04Xr14bTorkyPLny5ZeDm4QXqbKk08BwE3p2fhr3greBqM3GPvMraBwg91nFhpYWR1+18YJjD60TPJJgQ7pqY+TIjkZW3o5plR5kl7Io/+MCS8BroeVy2ByzK1gHAYLDc4WqVv62T869Y6HSYSWyeCQHn1Spq+NXF1pexCnpDKAY0sv5sJLoHLCyoqYW8F4DM4W+RDUJo3NP+fK25OaTGi5kqtV9LqcphRQvkg/X5NYzkllAMc2CC/1vARqkOZ4FyGsrFaeW6UwxDscFCwvNDwMCw21SOPzs3O2aJlcaLmSe1162ZuOlOj/fOyTqWBTNw5SURHHUdz4nKUtOW0ATMflgnT0B+w8FlbWLe+cW4R3OCieIo4qXEQ/Pr+KM5psaJkMXvYc1DNeqy1Cj77RfJ0C5efMLKw2ckT5c/Yq7yRIpzjalgOM2Wp+930KqbT7Ycg7HIzDjcV1c9Pp+Bz9GP24hPF50qHlSt5ml24kocJ4tN312BYhxiKtNnrOcAqpl0zelrP6vP0ZAOVLQWWqGP/e/I5NeIeDcRhsGbfQMG6rreBFHXZcRWi5IlQYhdWN8mMuOYdRufGcsW2co8kTxPR5exBX28cFmEBJ0ji42v49yxXjqirZyo25lXEOCjVYaHCg5LgMW7WcdSv4Ot9Exf7555959+V5dzXBuaUb5XV37TyZ7X6e/0Rluu9V1ffwGHQfy1n3Zd5dv8d0vNBftlzdZ67pvsyi/9z9EgCnk+ZwKVRKvcgvBJQcw9TmVoecz9f4PjQC1c6bJ/oeNDUX0X9G2yiUwCOEl2eW+iW8PkRVpdCSkg2CpCk8a4SWI5InjGnLTqrIFGICh5aqadJ8LgWVnwWVnEqeWy2iH9uaGCmh5eRVP2/O9+o8+vCyCUpwEYWHlSsCj4HuZkovdU/DS90ppAnu4pC9EoSWjEX3UU3h0epZ08T4CC1HqvvsfRd9eDnLX38Kk0dgc39HH1Au81chJUXI73HpGl1Fl9By8sybBwbVl79113fBKaXx+m30u1vbGAmBxxpTWbUr0OomSduFPseBCS0ZoxxgzqMPkX6KcTD5mpBBkLm6mug/iyaSUK80Z1sFlOlqu2spoKR0eUybRR9gjiIUEVpOnnnzGvleXS02/BYc096t+M5J4HGPvHU8Xaovd5eqKo/e20hoydjlBZMUGq228pYaYpp8VSBPJpvoX/ge5K+r3w+v5IcASpbmX/8b/Dpdbf59m6/0Zymg/CKcZCpyVdfqKnJBTmg5eebN97ix2KBw7DDSOP4h+gxmGSMm8NhQDhPSTfQk3ESbSEHlMk6Y5gstmZobFXCz6CfaJUy4Tb4AgNHJO1ya6OdVTb7SwtvZ5lbm83DdjcUGxWObWwWVy+56P5UFSA/IHeTBblXKPJbtnKewCiqXY0/zoWQ3KuBWX0852XaPAwAAR6UK817/HoY31fczoeWeBicCz6O+VYCU3P8Z/dbv92Nq5goAAACMRy4gWxWRpfyluJYPR1TlYXhCywPLpcyrfnRTCzFXIeVlkh9OjAQAAADO4EaI2cQ0dsKuwsk2Bgfi1Zq9CC2PLIeYq350TYzrJko3yzKubhQhJQAAAFCcG2cCNHF1uGlJFZkpZ1kdftfG4DA8u1e/JrQ8sVtuovT1nCevDpP8NgSUAAAAwETkqszVmQBN/uMmrp8PsPrzbfKZvwe/bqMPIL/c+HXKWL4IJbcntCzImpvou8HvY/D1P3H3SsHwpll3w6x+LckHAAAAoDj/D0lqAVNLmOp3AAAAAElFTkSuQmCC';\n\n// Shared helper functions\nconst escapeXml = (str = '') => {\n  if (!str) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&apos;');\n};\n\nconst capitalizeFirst = (str = '') => {\n  if (!str) return '';\n  return str.charAt(0).toUpperCase() + str.slice(1);\n};\n\nconst wrapText = (text, maxCharsPerLine) => {\n  const words = text.split(' ');\n  const lines = [];\n  let currentLine = '';\n\n  words.forEach(word => {\n    if ((currentLine + ' ' + word).trim().length <= maxCharsPerLine) {\n      currentLine = (currentLine ? currentLine + ' ' : '') + word;\n    } else {\n      if (currentLine) lines.push(currentLine);\n      currentLine = word;\n    }\n  });\n\n  if (currentLine) lines.push(currentLine);\n  return lines;\n};\n\n// Get banner layout data\nconst actualData = metadata.output || metadata;\nconst bannerLayout = actualData.banner_layout || {};\n\n// Shared background color\nconst backgroundColor = bannerLayout.background_color || '#F2F4F3';\n\n// =============================================================================\n// --- 5) GENERATE SVG BASED ON POST_TYPE ---\n// =============================================================================\n\nlet svgContent = '';\n\nif (postType === 'showcase') {\n  // SHOWCASE-SPECIFIC VARIABLES\n  const topic = capitalizeFirst(escapeXml(actualData.topic || bannerLayout.title_text || 'Default Topic'));\n  const subTopic = capitalizeFirst(escapeXml(actualData.sub_topic || ''));\n  \n  // Get client logo\n  let clientLogo = bannerLayout.client_logo || '';\n  if (clientLogo && (clientLogo.includes('http') || clientLogo.includes('www.') || clientLogo.includes('://'))) {\n    clientLogo = '';\n  }\n  clientLogo = escapeXml(clientLogo);\n  \n  const topicLines = wrapText(topic, 20);\n  const subtitleLines = wrapText(subTopic, 35);\n\n  const titleStartY = 280;\n  const subtitleStartY = titleStartY + (topicLines.length * 85) + 120;\n\n  // Showcase capsule settings\n  const capsule = {\n    x: 900,\n    y: 240,\n    w: 980,\n    h: 520,\n    angle: -10,   \n  };\n\n  const capsuleRx = capsule.h / 2;\n  const imageScale = 1.18; \n\n  const imgW = capsule.w * imageScale;\n  const imgH = capsule.h * imageScale;\n  const imgX = capsule.x - (imgW - capsule.w) / 2;\n  const imgY = capsule.y - (imgH - capsule.h) / 2;\n\n  svgContent = `\n  <!-- Background -->\n  <rect width=\"1920\" height=\"1080\" fill=\"${backgroundColor}\"/>\n\n  <!-- Client Logo -->\n  ${clientLogo ? `\n  <text x=\"60\" y=\"100\" font-family=\"Arial, sans-serif\" font-size=\"36\" font-weight=\"600\" fill=\"#000000\">\n    ${clientLogo}\n  </text>\n  ` : ''}\n\n  <!-- Title -->\n  <text x=\"60\" y=\"${titleStartY}\" font-family=\"Arial, sans-serif\" font-size=\"76\" font-weight=\"500\" fill=\"#000000\">\n    ${topicLines\n      .map((line, i) => `<tspan x=\"60\" dy=\"${i === 0 ? 0 : 85}\">${line}</tspan>`)\n      .join('\\n    ')}\n  </text>\n\n  <!-- Subtitle -->\n  ${subTopic ? `\n  <text x=\"60\" y=\"${subtitleStartY}\" font-family=\"Arial, sans-serif\" font-size=\"45\" font-weight=\"400\" fill=\"#000000\">\n    ${subtitleLines\n      .map((line, i) => `<tspan x=\"60\" dy=\"${i === 0 ? 0 : 60}\">${line}</tspan>`)\n      .join('\\n    ')}\n  </text>\n  ` : ''}\n\n  <!-- Right-side capsule image (overscanned to avoid edge gaps) -->\n  <image\n    x=\"${imgX}\"\n    y=\"${imgY}\"\n    width=\"${imgW}\"\n    height=\"${imgH}\"\n    xlink:href=\"data:image/png;base64,${imageData}\"\n    clip-path=\"url(#showcaseCapsuleClip)\"\n    preserveAspectRatio=\"xMidYMid slice\"\n  />\n`;\n\n} else if (postType === 'recruitment') {\n  // RECRUITMENT-SPECIFIC VARIABLES\n  const title = escapeXml(\n    bannerLayout.title_text ||\n    actualData.role ||\n    actualData.topic ||\n    'Senior Frontend Engineer (m/f/d)'\n  );\n\n  const titleLines = wrapText(title, 18);\n\n  // Recruitment backgrounds\n  const leftBg = '#FFFFFF';\n  const rightBg = '#EAF7FB';\n\n  // Recruitment capsule geometry (WIDE CAPSULE)\n  const capsule = {\n    x: 1200,\n    y: 140,\n    w: 520,\n    h: 760\n  };\n\n  const capsuleRadius = capsule.w / 2;\n  const imageScale = 1.12;\n\n  const imgW = capsule.w * imageScale;\n  const imgH = capsule.h * imageScale;\n  const imgX = capsule.x - (imgW - capsule.w) / 2;\n  const imgY = capsule.y - (imgH - capsule.h) / 2;\n\n  svgContent = `\n  <!-- Left background -->\n  <rect x=\"0\" y=\"0\" width=\"1056\" height=\"1080\" fill=\"${leftBg}\"/>\n  \n  <!-- Right background -->\n  <rect x=\"1056\" y=\"0\" width=\"864\" height=\"1080\" fill=\"${rightBg}\"/>\n  \n  <!-- Eyebrow -->\n  <text x=\"80\" y=\"160\" font-family=\"Arial, sans-serif\" font-size=\"32\" fill=\"#000000\">\n    We're hiring!\n  </text>\n  \n  <!-- Job title -->\n  <text x=\"80\" y=\"260\" font-family=\"Arial, sans-serif\" font-size=\"96\" font-weight=\"bold\" fill=\"#000000\">\n    ${titleLines\n      .map((l, i) => `<tspan x=\"80\" dy=\"${i === 0 ? 0 : 110}\">${l}</tspan>`)\n      .join('')}\n  </text>\n  \n  <!-- CTA -->\n  <text x=\"80\" y=\"560\" font-family=\"Arial, sans-serif\" font-size=\"36\" font-weight=\"bold\" text-decoration=\"underline\" fill=\"#000000\">\n    Apply now \u2192\n  </text>\n  \n  <!-- Divider -->\n  <line x1=\"80\" y1=\"610\" x2=\"820\" y2=\"610\" stroke=\"#999\" stroke-width=\"2\"/>\n  \n  <!-- Meta -->\n  <text x=\"80\" y=\"680\" font-size=\"28\" font-family=\"Arial\">Based in</text>\n  <text x=\"80\" y=\"720\" font-size=\"32\" font-weight=\"bold\" font-family=\"Arial\">Munich, Berlin</text>\n  \n  <text x=\"420\" y=\"680\" font-size=\"28\" font-family=\"Arial\">Working hours</text>\n  <text x=\"420\" y=\"720\" font-size=\"32\" font-weight=\"bold\" font-family=\"Arial\">Full-Time</text>\n  \n  <!-- Wide capsule image -->\n  <image\n    x=\"${imgX}\"\n    y=\"${imgY}\"\n    width=\"${imgW}\"\n    height=\"${imgH}\"\n    xlink:href=\"data:image/png;base64,${imageData}\"\n    clip-path=\"url(#recruitmentCapsuleClip)\"\n    preserveAspectRatio=\"xMidYMid slice\"\n  />\n`;\n\n} else {\n  throw new Error(`Unexpected post_type: ${postType}`);\n}\n\n// =============================================================================\n// --- 6) COMMON FOOTER SECTION (USED BY ALL POST TYPES) ---\n// =============================================================================\n\nconst footerSection = `\n  <!-- Footer -->\n  <rect y=\"980\" width=\"1920\" height=\"100\" fill=\"#000000\"/>\n\n  <text x=\"80\" y=\"1040\" font-family=\"Arial, sans-serif\" font-size=\"20\" fill=\"#FFFFFF\">\n    Destinations for Decisions.\n  </text>\n\n  <image\n    x=\"1720\"\n    y=\"1005\"\n    width=\"140\"\n    height=\"50\"\n    xlink:href=\"data:image/png;base64,${atollsLogo}\"\n    preserveAspectRatio=\"xMidYMid meet\"\n  />\n`;\n\n// =============================================================================\n// --- 7) COMBINE EVERYTHING INTO FINAL SVG ---\n// =============================================================================\n\nconst svg = `\n<svg width=\"1920\" height=\"1080\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n\n  <defs>\n    <!-- Showcase capsule clip path (WITH rotation) -->\n    <clipPath id=\"showcaseCapsuleClip\" clipPathUnits=\"userSpaceOnUse\">\n      <rect\n        x=\"900\"\n        y=\"240\"\n        width=\"980\"\n        height=\"520\"\n        rx=\"260\"\n        ry=\"260\"\n        transform=\"rotate(-10 1390 500)\"\n      />\n    </clipPath>\n\n    <!-- Recruitment capsule clip path (NO rotation) -->\n    <clipPath id=\"recruitmentCapsuleClip\">\n      <rect\n        x=\"1200\"\n        y=\"140\"\n        width=\"520\"\n        height=\"760\"\n        rx=\"260\"\n        ry=\"260\"\n      />\n    </clipPath>\n  </defs>\n\n${svgContent}\n\n${footerSection}\n\n</svg>\n`;\n\n// =============================================================================\n// --- 8) RETURN RESULT ---\n// =============================================================================\n\nreturn [{\n  json: {\n    ...item,\n    ...metadata,\n    svg,\n    svg_base64: Buffer.from(svg).toString('base64'),\n    mime_type: 'image/svg+xml',\n    svgFileName: `${postType}_banner_${Date.now()}.svg`,\n    banner_layout: bannerLayout\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        96
      ],
      "id": "67bb0149-fc80-42ad-9cd5-5697a221fcef",
      "name": "Generate SVG Banner"
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "outputFormat": "png",
        "inputBinaryPropertyName": "svgFile"
      },
      "type": "@cloudconvert/n8n-nodes-cloudconvert.cloudConvert",
      "typeVersion": 1,
      "position": [
        2576,
        96
      ],
      "id": "13e1cda5-9c4c-4740-b9d3-1ad8937c55ef",
      "name": "Convert SVG to PNG",
      "credentials": {
        "cloudConvertApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "cloudConvertApi_account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        464
      ],
      "id": "9689b2a7-6faf-4f92-9cc9-f45eb11608a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "openAiApi_account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"post_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"recruitment\", \"showcase\", \"engagement\"]\n    },\n    \"topic\": {\n      \"type\": \"string\"\n    },\n    \"sub_topic\": {\n      \"type\": \"string\"\n    },\n    \"role\": {\n      \"type\": \"string\"\n    },\n    \"audience\": {\n      \"type\": \"string\"\n    },\n    \"tone\": {\n      \"type\": \"string\"\n    },\n    \"post_text\": {\n      \"type\": \"string\"\n    },\n    \"hashtags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"emojis_used\": {\n      \"type\": \"boolean\"\n    },\n    \"visual_prompt\": {\n      \"type\": \"string\"\n    },\n    \"banner_layout\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"background_color\": {\n          \"type\": \"string\"\n        },\n        \"title_text\": {\n          \"type\": \"string\"\n        }\n      }\n    }\n  },\n  \"required\": [\n    \"post_type\",\n    \"topic\",\n    \"audience\",\n    \"tone\",\n    \"post_text\",\n    \"hashtags\",\n    \"emojis_used\",\n    \"visual_prompt\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        752,
        304
      ],
      "id": "079ab7db-4b11-43b2-a83b-7c2073938d71",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -448,
        304
      ],
      "id": "de7ecb98-dca5-44ec-8eb5-b2071b0ccbf5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "REMOVED_CREDENTIAL_ID",
          "name": "openAiApi_account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"recruitment\", \"showcase\", \"engagement\"]\n    }\n  },\n  \"required\": [\"category\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        304
      ],
      "id": "e3397f73-edfe-4cda-982a-3a3f99fbe732",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        96
      ],
      "id": "2c26a858-01b7-4b46-bf18-f940cf2bfa3c",
      "name": "Post Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this Slack message and classify it into exactly one category.\n\nMessage: {{ $('Parser: Extract Slack Content').item.json.raw_text }}\n\nCategories:\n- recruitment: job postings, hiring needs, looking for candidates, talent search\n- showcase: project highlights, success stories, campaign results, portfolio items\n- engagement: team updates, general announcements, community posts, celebrations\n\nRespond with ONLY the category name (recruitment, showcase, or engagement). No explanation.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -400,
        112
      ],
      "id": "10917c4c-9a5d-4b90-843c-7ff081adb48a",
      "name": "Classify Message Type"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.output.category }}_conversation"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        304
      ],
      "id": "abc9f334-0a69-4cdf-a78c-236c3d451570",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "type": "app_mention",
          "user": "U0A1B7VHJLA",
          "ts": "1764941406.714789",
          "client_msg_id": "8b34bf70-7856-4e80-a4ce-cba13fb1196b",
          "text": "<@U0A0W0FSKSB> Create a showcase post celebrating Atolls\u2019 successful campaign with a major fitness brand, \u2018FitZone Inc.\u2019, which resulted in a 40% uplift in customer engagement.",
          "team": "T0A196RSWMU",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "mYR8/",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "user",
                      "user_id": "U0A0W0FSKSB"
                    },
                    {
                      "type": "text",
                      "text": " Create a showcase post celebrating Atolls\u2019 successful campaign with a major fitness brand, \u2018FitZone Inc.\u2019, which resulted in a 40% uplift in customer engagement."
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "C0A1B7VNPDY",
          "event_ts": "1764941406.714789"
        }
      }
    ],
    "Parser: Extract Slack Content": [
      {
        "json": {
          "raw_text": "<@U0A0W0FSKSB> Create a showcase post celebrating Atolls\u2019 successful campaign with a major fitness brand, \u2018FitZone Inc.\u2019, which resulted in a 40% uplift in customer engagement.",
          "hasImage": false,
          "files": []
        }
      }
    ],
    "Classify Message Type": [
      {
        "json": {
          "output": {
            "category": "showcase"
          }
        }
      }
    ]
  },
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Parser: Extract Slack Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser: Extract Slack Content": {
      "main": [
        [
          {
            "node": "Classify Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Detect Post Type": {
      "main": [
        [
          {
            "node": "Prepare Recruitment Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Showcase Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Engagement Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recruitment Data": {
      "main": [
        [
          {
            "node": "Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Showcase Data": {
      "main": [
        [
          {
            "node": "Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Engagement Data": {
      "main": [
        [
          {
            "node": "Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download the file3": {
      "main": [
        [
          {
            "node": "Prepare Approval Payload3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator3": {
      "main": [
        [
          {
            "node": "Extract Image and Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image and Metadata": {
      "main": [
        [
          {
            "node": "Convert to Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Has banner_layout?": {
      "main": [
        [
          {
            "node": "Generate SVG Banner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Approval Payload (Generated Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Image File": {
      "main": [
        [
          {
            "node": "If: Has banner_layout?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Image(s) attached": {
      "main": [
        [
          {
            "node": "Download the file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generator3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to SVG File": {
      "main": [
        [
          {
            "node": "Convert SVG to PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SVG Banner": {
      "main": [
        [
          {
            "node": "Convert to SVG File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert SVG to PNG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Post Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Message Type",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Message Type",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Post Generator": {
      "main": [
        [
          {
            "node": "If: Image(s) attached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Message Type": {
      "main": [
        [
          {
            "node": "Router: Detect Post Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Post Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "630dc094-5f83-4c2d-a2bf-9181d7fd2102",
  "meta": {
    "instanceId": "2c0f1518558498e52089049fb860012056b83d6c0cc81daec198c4ac6d7815f3"
  },
  "id": "GVc7hZFbuLgESd4w",
  "tags": []
}