Team 6/workflow_2_CLEAN.json
{
  "name": "Workflow 2 - 2.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-approval",
        "options": {}
      },
      "id": "c05270aa-4f70-4153-8fb3-9b31a75e0779",
      "name": "Webhook - Slack Interactions1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        1456
      ],
      "webhookId": "REMOVED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack payload\nconst payload = JSON.parse($input.first().json.body.payload);\n\nconst action = payload.actions[0];\nconst message = payload.message;\nconst user = payload.user;\n\n// Extract data from message blocks\nconst blocks = message.blocks;\nlet postData = {};\n\n// Try to extract post_type, topic, and content from blocks\nfor (const block of blocks) {\n  if (block.type === 'section' && block.text && block.text.text) {\n    const text = block.text.text;\n    \n    // Extract post type\n    const typeMatch = text.match(/\\*Content Type:\\*\\s*([^\\n]+)/);\n    if (typeMatch) postData.post_type = typeMatch[1].trim();\n    \n    // Extract topic\n    const topicMatch = text.match(/\\*Topic:\\*\\s*([^\\n]+)/);\n    if (topicMatch) postData.topic = topicMatch[1].trim();\n    \n    // Extract post content (everything after \"Post Content:\")\n    const contentMatch = text.match(/\\*Post Content:\\*\\n\\n([\\s\\S]+)/);\n    if (contentMatch) postData.post_text = contentMatch[1].trim();\n  }\n}\n\nreturn [{\n  json: {\n    action_id: action.action_id,\n    action_value: action.value,\n    user_id: user.id,\n    user_name: user.username,\n    response_url: payload.response_url,\n    trigger_id: payload.trigger_id,\n    channel_id: payload.channel.id,\n    message_ts: message.ts,\n    ...postData\n  }\n}];"
      },
      "id": "d7b591cb-f16f-46a4-934a-3486f6c572ed",
      "name": "Parse Slack Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1456
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REMOVED_WEBHOOK_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "stage",
              "value": "text_approved"
            },
            {
              "name": "approved_text",
              "value": "={{ $json.post_text }}"
            },
            {
              "name": "post_type",
              "value": "={{ $json.post_type }}"
            },
            {
              "name": "topic",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "image_prompt",
              "value": "Generate a professional image for this LinkedIn post"
            }
          ]
        },
        "options": {}
      },
      "id": "246293e6-7c76-4055-a95b-eae734e2b2dc",
      "name": "Callback: Text Approved1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload1').item.json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"text\": \"\u2705 Post text approved! Generating image...\"\n}",
        "options": {}
      },
      "id": "7d048475-ba84-4933-bc27-1f92e901bb8f",
      "name": "Slack: Update Message (Approved)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REMOVED_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"image_approved\",\n  \"approved_text\": \"{{ $json.post_text }}\",\n  \"approved_image_url\": \"{{ $json.image_url }}\",\n  \"post_type\": \"{{ $json.post_type }}\"\n}",
        "options": {}
      },
      "id": "394fcc6f-5b4d-4ece-bce4-357aa14c2f5a",
      "name": "Callback: Image Approved1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        1696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"text\": \"\u2705 Image approved! Publishing to LinkedIn...\"\n}",
        "options": {}
      },
      "id": "44d8072f-f530-43eb-b716-03c617252d77",
      "name": "Slack: Update Message (Image Approved)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1696
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "approve_text ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d462882a-bdb4-464b-8193-c83f37399d0c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve_text "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "692c9a41-8ed3-4ad3-9bd9-5e8feeceac3a",
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "regenerate_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regenerate_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fd9b9c4d-2bb9-407b-b71a-4fba5c3aea3e",
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "edit_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4d129c6-bade-4655-ab52-8ba5f37caf18",
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "reject_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject_text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d89d3d10-8a67-4253-913e-3297ba0eeeba",
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "approve_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e6d87f2-0d4e-44d5-9c4e-e09718d360e6",
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "reject_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4ea164b-200a-41f0-93ea-fde1014d0784",
                    "leftValue": "={{ $json.action_id }}",
                    "rightValue": "regenerate_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regenerate_image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        336,
        1376
      ],
      "id": "dbcb9378-3efd-446a-be11-e950e7126821",
      "name": "Action Router"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "options": {}
      },
      "id": "d3ec94fe-880d-403e-b2bf-217b3aeebecc",
      "name": "Slack: Update Message (Rejected)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1168
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "options": {}
      },
      "id": "396e23bc-915b-4898-b1b2-5bbf3222e14c",
      "name": "Slack: Update Message (Image Rejected)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        1888
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REMOVED_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"text_approved\",\n  \"approved_text\": \"{{ $json.post_text }}\",\n  \"post_type\": \"{{ $json.post_type }}\",\n  \"topic\": \"{{ $json.topic }}\",\n  \"image_prompt\": \"Generate a professional image for this LinkedIn post\",\n  \"regenerate\": true\n}",
        "options": {}
      },
      "id": "e6b00442-ccf0-4c48-aa09-9a2997e3b333",
      "name": "Callback: Regenerate Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slack Payload1').item.json.response_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"text\": \"\ud83d\udd04 Regenerating text... Please wait.\"\n}",
        "options": {}
      },
      "id": "2e55380f-9097-4cb8-a48c-e3e728897c4e",
      "name": "Slack: Update Message (Regenerating Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REMOVED_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"text_approved\",\n  \"approved_text\": \"{{ $json.post_text }}\",\n  \"post_type\": \"{{ $json.post_type }}\",\n  \"topic\": \"{{ $json.topic }}\",\n  \"image_prompt\": \"Generate a professional image for this LinkedIn post\",\n  \"regenerate\": true\n}",
        "options": {}
      },
      "id": "380828c9-dff0-4007-a6f8-2919c16e3a3f",
      "name": "Slack: Update Message (Regenerating Image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        2064
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Slack Interactions1": {
      "main": [
        [
          {
            "node": "Parse Slack Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Payload1": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Text Approved1": {
      "main": [
        [
          {
            "node": "Slack: Update Message (Approved)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Image Approved1": {
      "main": [
        [
          {
            "node": "Slack: Update Message (Image Approved)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Callback: Text Approved1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback: Regenerate Text",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Slack: Update Message (Rejected)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback: Image Approved1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Update Message (Image Rejected)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Update Message (Regenerating Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Regenerate Text": {
      "main": [
        [
          {
            "node": "Slack: Update Message (Regenerating Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6a14ba2-bcb3-4ffe-b6c2-8e8c04c517ba",
  "meta": {
    "instanceId": "988ec785f8f66143b61268383fb5c2424060187d6db5211c7f676c4bd62e1062"
  },
  "id": "0jCrSFw1y6bYHlMF",
  "tags": []
}