Team 5/n8n/workflows/Graf MVP.json
{
  "name": "Graf MVP",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2160,
        3872
      ],
      "id": "326a8029-3f53-412b-bc1a-8b5b1d23eaf7",
      "name": "When chat message received",
      "webhookId": "996e33d7-430e-45d3-a265-b5c310eeb13c"
    },
    {
      "parameters": {
        "text": "={{ $('Email Trigger (IMAP)').item.json.textPlain }}\n{{ $('Email Trigger (IMAP)').item.json.subject }}\n{{ $('Email Trigger (IMAP)').item.json.from }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"companyName\": {\n      \"type\": \"string\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"technical support, consultant, etc.\"\n    },\n    \"products\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -1280,
        5440
      ],
      "id": "f5b445e1-8973-4196-8f97-6a3b230cbfb0",
      "name": "Information Extractor",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -2176,
        5440
      ],
      "id": "b98984f9-be71-4b9b-8a69-d67b530ac102",
      "name": "Email Trigger (IMAP)",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1952,
        5440
      ],
      "id": "8504d782-d54c-48fd-aaad-f1f99c1a8525",
      "name": "Get row(s) in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "function extractNameAndEmail(input) {\n  const regex = /^(.*?)\\s*<([^>]+)>$/;\n  const match = input.match(regex);\n\n  if (!match) {\n    return {\n      name: \"\",\n      email: \"\"\n    };\n  }\n\n  return {\n    name: match[1].trim(),\n    email: match[2].trim()\n  };\n}\n\nlet id = 0\n\nfor (const item of $input.all()) {\n  if (item.json.id)\n  id = Math.max(id, item.json.id)\n}\n\nreturn {\n  nextId: id + 1,\n  ...extractNameAndEmail($('Email Trigger (IMAP)').first().json.from)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        5440
      ],
      "id": "e3316227-e94b-4cfa-a2e4-6556e6bf7802",
      "name": "Code in JavaScript2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.nextId }}",
            "status": "OPEN",
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "subject": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
            "emailContent": "={{ $('Email Trigger (IMAP)').item.json.textPlain }}",
            "date": "={{ $('Email Trigger (IMAP)').item.json.date }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailContent",
              "displayName": "emailContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        5440
      ],
      "id": "e8bfc12b-cb5f-4096-a781-eabb9bfb1e2c",
      "name": "Append issue",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id": "={{ $('Append issue').item.json.id }}",
            "company_name": "={{ $json.output.companyName }}",
            "category": "={{ $json.output.category }}",
            "products": "={{ $json.output.products }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_id",
              "displayName": "issue_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "products",
              "displayName": "products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -928,
        5440
      ],
      "id": "d8d5044b-6765-47ef-bdec-ae70c7471bc9",
      "name": "Append row in Extracted Information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1200,
        5664
      ],
      "id": "9e9e5b3e-880d-4c67-b81f-6dcdef0090ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1936,
        4096
      ],
      "id": "446d3fcb-ee3a-4b85-8313-8a922ad2f0ce",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a Technical Support AI Assistant with access to two tools: \"datasheets_store\" (official manuals/specs) and \"historical_tickets_store\" (past resolved issues).\nYour Logic:\n\nResponse Rules:\n\nCite Sources: Explicitly state where information comes from (e.g., \"According to Datasheet X...\" or \"In Ticket #123...\"). Include the filename that you can find in the metadate of vector response.\n\nHonesty: If the answer is not in your tools, do not invent one. Suggest human escalation.\n\nTone: Professional, concise, and solution-focused."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1776,
        3872
      ],
      "id": "a19db63f-43db-41ec-9cb9-27839a1546c1",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1808,
        4096
      ],
      "id": "33e367d1-ce17-46e6-bc3c-96d1bec520b8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        32
      ],
      "id": "e75c0489-4381-4f29-b0c5-6193efc4601c",
      "name": "get_issues",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        32
      ],
      "id": "553db987-cc2f-4da9-8a81-d3a784446649",
      "name": "get_extracted_information",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287962512,
          "mode": "list",
          "cachedResultName": "solutions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1287962512"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        32
      ],
      "id": "741ed7e0-ae49-4207-baf7-211b210bbe67",
      "name": "get_solutions",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const issues = {};\n\nfor (const item of $('get_issues').all()) {\n  const issue = item.json;\n\n  if (!issues[issue.id]) {\n    issues[issue.id] = {\n      issue: {},\n      extracted: {},\n      solution: {}\n    };\n  }\n\n  issues[issue.id].issue = issue\n}\n\nfor (const item of $('get_extracted_information').all()) {\n  const issue = item.json;\n  issues[issue.issue_id].extracted = issue\n}\n\nfor (const item of $('get_solutions').all()) {\n  const issue = item.json;\n\n  const keys = Object.keys(issue)\n\n  if (!keys.length) continue\n\n  console.log(issue, issues)\n  \n  issues[issue.issue_id].solution = item.json.ai_solution\n}\n\nreturn Object.values(issues);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        32
      ],
      "id": "5c1d201d-6631-4241-88a3-b235d2ca3747",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "issues",
          "mode": "list",
          "cachedResultName": "issues"
        },
        "embeddingBatchSize": 1000,
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        768,
        32
      ],
      "id": "df7d864a-0479-4bb1-bfa8-684e0d240bd4",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        256
      ],
      "id": "1961d95d-04d1-4586-a462-1bba88105da7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.issue.toJsonString() }}\n{{ $json.extracted.toJsonString() }}\n{{ $json.solution.toJsonString() }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        256
      ],
      "id": "fc69d39c-371f-49ab-b764-fdbcaa72beda",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        944,
        464
      ],
      "id": "7c849d0e-74bc-4b2c-aede-2920bba3d73e",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11ObQNp0_JcACqXTe_kjbsvVItf1PJje7",
            "mode": "list",
            "cachedResultName": " Data sheets",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11ObQNp0_JcACqXTe_kjbsvVItf1PJje7"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        320
      ],
      "id": "1d7565cf-3d02-414c-b29b-e2a40da5e2fc",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        320
      ],
      "id": "3f772314-7043-44d1-98bd-c0a2c40c53b7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        144,
        320
      ],
      "id": "6e4aa11d-0906-49f3-b9e0-682fdb9d5c39",
      "name": "Simple Vector Store3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        544
      ],
      "id": "22b5b16f-229d-465c-a323-94b0b2825149",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        544
      ],
      "id": "f77dddae-9084-47da-9c8c-d37d7cdcff5b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "path": "issues/open",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1936,
        5920
      ],
      "id": "cabb5d8e-e496-403b-a9d5-52bfbbff9874",
      "name": "Webhook",
      "webhookId": "d1c77cb7-f883-4da6-af9b-b8775bef653f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "OPEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1728,
        5920
      ],
      "id": "16169059-a9df-4f44-8980-76b6b981f2e7",
      "name": "get_open_issues",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\n\nconst first = input[0].json;\n\nif (Object.keys(first).length === 0)\n  return {\n    data: [],\n  };\n\nreturn {\n  data: $input.all().map((item) => ({\n    id: item.json.id,\n    option: item.json.subject,\n  })),\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        5920
      ],
      "id": "6eb7c12c-5e59-47c9-ba1c-b2dae0dd38e7",
      "name": "Code in JavaScript4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1312,
        5920
      ],
      "id": "c0894399-418b-4639-b1fb-1627692269c7",
      "name": "Respond to Webhook",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "path": "issues/detail",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1952,
        6224
      ],
      "id": "cd8f8fed-e62f-4b94-ad2d-8b029f5523a0",
      "name": "Webhook1",
      "webhookId": "6d9d06d6-a262-4b75-9acf-39f345b41d2a"
    },
    {
      "parameters": {
        "jsCode": "return {\n  issue_id: $input.first().json.query.issue_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        6224
      ],
      "id": "6e0a9567-10e3-4678-a382-f5c64a9c2bfb",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "issue_id",
              "lookupValue": "={{ $json.issue_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        6336
      ],
      "id": "51340bb4-7b88-4d28-8060-87493c45935b",
      "name": "get_extracted",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "issue_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1248,
        6240
      ],
      "id": "179adc37-e42a-4fe5-8e3a-9c2a0ed4ffb2",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.issue_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        6160
      ],
      "id": "83413f4a-8957-4349-a172-ff7046f8804f",
      "name": "get_issue",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1056,
        6240
      ],
      "id": "a196b9ed-7d5c-4f51-812d-6b0fc88eb1ff",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1952,
        7568
      ],
      "id": "da1c360e-0d5d-49f2-8d40-086f081761f5",
      "name": "Webhook2",
      "webhookId": "6d9d06d6-a262-4b75-9acf-39f345b41d2a"
    },
    {
      "parameters": {
        "jsCode": "return {\n  issue_id: $input.first().json.query.issue_id,\n  solution:  $input.first().json.query.solution\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        7568
      ],
      "id": "0fe27851-b320-4c79-bd54-a754b68d24e1",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "issue_id",
              "lookupValue": "={{ $json.issue_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        7664
      ],
      "id": "0ce3bdf3-95d0-4e93-8dfd-a37f3a302e80",
      "name": "get_extracted1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "issue_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1280,
        7568
      ],
      "id": "64adbbf8-cca1-4b76-8e67-dc5a7667bb42",
      "name": "Merge2",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.issue_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        7472
      ],
      "id": "7da4c5ac-f514-46d5-87ad-cc5ab7a4fe21",
      "name": "get_issue1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -480,
        7568
      ],
      "id": "1e791bc6-1d5b-46e8-91a0-f5b13cd56b45",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Solution:  {{ $('Code in JavaScript6').item.json.solution }}\n\nInformation:{{ $json.emailContent }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Use the information give and the solution to create a formal answer email. Not necessary a subject, just email content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1056,
        7568
      ],
      "id": "83d95691-8abf-4a35-bfca-8f3f5dc377e5",
      "name": "AI Agent3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1040,
        7792
      ],
      "id": "120d5119-5661-4932-b7ec-8c68b856657e",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"emailContent\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -912,
        7792
      ],
      "id": "74b0831e-65e0-4c28-a766-9fb00c1fe35c",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  clientEmail: $('get_issue1').first().json.email,\n  subject: `Answer - ${$('get_issue1').first().json.subject}`,\n  emailContent: $input.first().json.output.emailContent\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        7568
      ],
      "id": "9a338d00-9f06-4bdd-a8da-fc39a7afbe17",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        8272
      ],
      "id": "36c87cbc-1989-40ba-be78-0cbf4c71e5e6",
      "name": "Webhook3",
      "webhookId": "194471e2-f03e-4067-84e7-603f96965918"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.body"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        8272
      ],
      "id": "b90918e2-d778-48b0-979e-987e14134678",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -976,
        8288
      ],
      "id": "b3561302-5910-405d-8f79-540fe1df92ba",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1456,
        8272
      ],
      "id": "dc3a3eb9-abf4-41b2-a557-ac9a4d603fba",
      "name": "Send a message1",
      "webhookId": "1c44215d-8580-43ed-99f3-24f71e7570bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "DyCC31ykrcpTdDg2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287962512,
          "mode": "list",
          "cachedResultName": "solutions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1287962512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_content": "={{ $json.emailContent }}",
            "employee_message": "={{ $json.solution }}",
            "employee_name": "={{ $json.employeeName }}",
            "employee_email": "={{ $json.employeeEmail }}",
            "issue_id": "={{ $json.issueId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_id",
              "displayName": "issue_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_name",
              "displayName": "employee_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_email",
              "displayName": "employee_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_message",
              "displayName": "employee_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_solution",
              "displayName": "ai_solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_content",
              "displayName": "email_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1456,
        8048
      ],
      "id": "c1dd9b66-2b14-47c7-b639-28071bc93db4",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.issueId }}",
            "status": "CLOSE"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailContent",
              "displayName": "emailContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1456,
        8480
      ],
      "id": "5499e9c9-edd0-4ba5-a053-5c7b236f9010",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "POST /issues/create"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        8848
      ],
      "typeVersion": 1,
      "id": "4641ad8a-196a-49b6-92ea-287f41a7d19b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issues/create",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        8880
      ],
      "id": "514f6513-ab0c-4614-b643-c9d7dcbbe4f7",
      "name": "Webhook4",
      "webhookId": "73abf803-c9e4-4a62-8d7d-3937930efc6c"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1744,
        8880
      ],
      "id": "19030c9a-eff4-4e8d-94aa-177d232f6f94",
      "name": "Get row(s) in sheet3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let id = 0\n\nfor (const item of $input.all()) {\n  if (item.json.id)\n  id = Math.max(id, item.json.id)\n}\n\nreturn {\n  nextId: id + 1,\n  ...$('Webhook4').first().json.body\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        8880
      ],
      "id": "9db2f912-9ff6-43f7-8ddf-2fcf405b3413",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.nextId }}",
            "status": "OPEN",
            "email": "={{ $json.clientEmail }}",
            "name": "={{ $json.clientName }}",
            "subject": "={{ $json.subject }}",
            "emailContent": "={{ $json.content }}",
            "date": "={{ $json.date }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailContent",
              "displayName": "emailContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        8880
      ],
      "id": "6d358d55-3716-4609-aa8a-0d33dccce202",
      "name": "Append issue1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id": "={{ $json.id }}",
            "company_name": "={{ $('Code in JavaScript9').item.json.companyName }}",
            "category": "={{ $('Code in JavaScript9').item.json.category }}",
            "products": "={{ $('Code in JavaScript9').item.json.products }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_id",
              "displayName": "issue_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "products",
              "displayName": "products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1056,
        8880
      ],
      "id": "0be0a72e-c4a7-49a8-8631-82bdb986277a",
      "name": "Append row in Extracted Information1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "GET issues/open",
        "height": 96,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        5904
      ],
      "typeVersion": 1,
      "id": "5a02abd0-54b7-4f4c-928a-9e6e184f6ab8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "GET issues/detail\n$issue_id",
        "height": 96,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2224,
        6224
      ],
      "typeVersion": 1,
      "id": "a07321b7-31ed-4caf-9284-f5adeddc084f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the content to reference:\n{{ $json.emailContent }}\n\nproactively attempt to resolve the issue by querying the vector-store tool for closely related historical cases.\n\nAnalyze the retrieved cases, identify patterns or successful resolutions, and synthesize a concrete, actionable solution tailored to the current issue.\n\nIf multiple relevant solutions are found, briefly compare them and recommend the most appropriate one. If no close match exists, propose a best-effort solution based on the available information and clearly state any assumptions.\n\nAlso look for the file name and like in the metadata receive from the vector store tool",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -912,
        6720
      ],
      "id": "a8fc9984-1e68-4472-9706-9eabbae012fd",
      "name": "AI Agent4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"files\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"link\": { \"type\": \"string\" }\n        },\n        \"required\": [\"name\", \"link\"],\n        \"additionalProperties\": false\n      }\n    },\n    \"possibleSolution\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"files\", \"possibleSolution\"],\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -640,
        6944
      ],
      "id": "9a630eaa-8877-4a16-a008-286fc8375528",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1056,
        6944
      ],
      "id": "01f564c0-f49c-4b28-b478-5f23a9a614bf",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -848,
        7152
      ],
      "id": "715629f1-6383-43f0-a737-1ebca5b796a2",
      "name": "Embeddings OpenAI5",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "path": "issues/detail/ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1952,
        6720
      ],
      "id": "e6cc43ab-dae0-415d-9339-434e0f4ba294",
      "name": "Webhook5",
      "webhookId": "6d9d06d6-a262-4b75-9acf-39f345b41d2a"
    },
    {
      "parameters": {
        "content": "GET issues/detail/ai\n$issue_id",
        "height": 96,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2224,
        6704
      ],
      "typeVersion": 1,
      "id": "d868c878-4f86-4a19-8741-1b270fb69d77",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "return {\n  issue_id: $input.first().json.query.issue_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        6720
      ],
      "id": "4ece61a3-2d2e-49c5-b4be-6340bffce699",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -48,
        6720
      ],
      "id": "b46dac1e-d53e-4808-901c-15b11c6d3bf7",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "issue_id",
              "lookupValue": "={{ $json.issue_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        6816
      ],
      "id": "61379eb2-fbe7-450a-ac0a-376734a15416",
      "name": "get_extracted2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "issue_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1280,
        6720
      ],
      "id": "a7fd8e98-9307-4b67-9667-41c370fb32e1",
      "name": "Merge1",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.issue_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        6624
      ],
      "id": "b008c3c9-542d-48e1-a1e3-6b69253220e5",
      "name": "get_issue2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        6720
      ],
      "id": "fa63af10-25f0-4567-8d6e-1ebf4d7e9f65",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -560,
        7152
      ],
      "id": "4582062f-42a7-4b34-8bcd-9990d519146d",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "POST /submit"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        8256
      ],
      "typeVersion": 1,
      "id": "01d18589-2681-4096-932d-bd6f00ef1c8c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "path": "issues/all",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        9296
      ],
      "id": "3d6079dd-7f13-4902-95c1-3827a8d0e464",
      "name": "Webhook6",
      "webhookId": "6d9d06d6-a262-4b75-9acf-39f345b41d2a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -864,
        9296
      ],
      "id": "77bc33ea-654e-45d3-821b-841a0aa2baa6",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1728,
        9296
      ],
      "id": "800d4a0d-2936-4a1c-a601-2bbf63ef1526",
      "name": "get_all_issues",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1023914026,
          "mode": "list",
          "cachedResultName": "extracted_information",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1023914026"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1520,
        9296
      ],
      "id": "15d67779-c9f1-4861-81e1-f05e6f65b68a",
      "name": "get_all_extracted",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const issues = $(\"get_all_issues\").all();\n\nconst data = [];\n\nissues.map((item) => {\n  const issue = item.json;\n\n  const extracted = $(\"get_all_extracted\")\n    .all()\n    .find((item) => item.json.issue_id === issue.id).json;\n\n  const solution = $(\"get_all_solutions\")\n    .all()\n    .find((item) => item.json.issue_id === issue.id);\n\n  const products = JSON.parse(extracted.products)\n\n  if (solution) {\n    data.push({\n      ...issue,\n      ...extracted,\n      ...solution.json,\n      products\n    });\n  } else {\n    data.push({\n      ...issue,\n      ...extracted,\n      products\n    });\n  }\n});\n\nconsole.log(data);\n\nreturn data;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        9296
      ],
      "id": "99d929f1-7d8b-4b45-95ef-d5a75333e960",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE",
          "mode": "list",
          "cachedResultName": "Suport-DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287962512,
          "mode": "list",
          "cachedResultName": "solutions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rBwHt3aqq0AGoKXXT7mf1h6obGMBUwtM_EXOrt2BvEE/edit#gid=1287962512"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        9296
      ],
      "id": "3eeaa1ef-ad9c-4e1f-bf13-eff0be0dfc51",
      "name": "get_all_solutions",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Historical Data",
        "memoryKey": {
          "__rl": true,
          "value": "guides_txt",
          "mode": "list",
          "cachedResultName": "guides_txt"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -928,
        6944
      ],
      "id": "0116e1e8-3dee-4036-9a59-4e75696135f8",
      "name": "Documents Store"
    },
    {
      "parameters": {
        "path": "ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1648,
        2224
      ],
      "id": "d1abfcda-ef53-40bb-a4bd-9738e60cc273",
      "name": "Webhook7",
      "webhookId": "149823b6-dc39-4c49-a83c-dfb2e2e12a86",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=You are a Technical Support AI Assistant with access to two tools: \"datasheets_store\" (official manuals/specs) and \"historical_tickets_store\" (past resolved issues).\nYour Logic:\n\nResponse Rules:\n\nCite Sources: Explicitly state where information comes from (e.g., \"According to Datasheet X...\" or \"In Ticket #123...\"). Include the filename (dont change the filename, add exact match) and the file link that you can find in the metadata of vector response.\n\nHonesty: If the answer is not in your tools, do not invent one. Suggest human escalation.\n\nTone: Professional, concise, and solution-focused."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1168,
        2224
      ],
      "id": "d0ae40af-6d05-4738-8262-45a1dc0598d7",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  prompt: $input.first().json.query.prompt\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        2224
      ],
      "id": "29101965-826a-44e7-a8cc-1450067c7aa8",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1200,
        2448
      ],
      "id": "e7e78d09-d271-4859-8384-0401723f0b37",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -256,
        2224
      ],
      "id": "46974d32-abc3-4a9a-8012-863c7c016b61",
      "name": "Respond to Webhook6",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1632,
        1440
      ],
      "id": "3429f099-85b0-4f7d-9fd4-3f6daaad5414",
      "name": "When clicking Execute workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11ObQNp0_JcACqXTe_kjbsvVItf1PJje7",
            "mode": "list",
            "cachedResultName": " Data sheets",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11ObQNp0_JcACqXTe_kjbsvVItf1PJje7"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "webViewLink",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        1248
      ],
      "id": "0fad7223-8dde-430a-9d1c-3516425343ff",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1184,
        1248
      ],
      "id": "ed4b8bb5-7ba9-4f5e-aa98-2cb97f3ee36b",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "guides_txt",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -960,
        1136
      ],
      "id": "ef6d3239-2d8b-4e0c-acc0-92e361ec68af",
      "name": "Simple Vector Store4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -960,
        1360
      ],
      "id": "6fdaf8c1-2c3e-4f5f-a5aa-28b604a87138",
      "name": "Embeddings OpenAI6",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_link",
                "value": "={{ $json.webViewLink }}"
              },
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -832,
        1360
      ],
      "id": "dfefb39e-1942-49e6-9345-3063dfea8943",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Guides",
        "memoryKey": {
          "__rl": true,
          "value": "guides_txt",
          "mode": "list",
          "cachedResultName": "guides_txt"
        },
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1072,
        2448
      ],
      "id": "04705743-a387-4a12-b9d8-8a80a51d8348",
      "name": "Simple Vector Store1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        2656
      ],
      "id": "9b911843-7b8b-458a-ad76-203f56f271d8",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Guides txt",
        "memoryKey": {
          "__rl": true,
          "value": "guides_txt",
          "mode": "list",
          "cachedResultName": "guides_txt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1504,
        4048
      ],
      "id": "6480af9d-90ca-4ccc-821c-7ea26bb9aa80",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1504,
        4208
      ],
      "id": "95404b3a-d256-458b-a040-0b4e1e8ead65",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GDnyWE_PNlmEBg1RyPSNVr-QO3uCVciQ",
            "mode": "list",
            "cachedResultName": "Guide_txt",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GDnyWE_PNlmEBg1RyPSNVr-QO3uCVciQ"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "webViewLink",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        1648
      ],
      "id": "2b2b7107-b069-4a5e-8205-0c518a60438c",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1184,
        1648
      ],
      "id": "1a36f4a0-6961-44b2-8e7e-87ba1b90b46b",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "guides_txt",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -960,
        1648
      ],
      "id": "17627b06-cecf-4920-89a2-e168d08c1a52",
      "name": "Simple Vector Store5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -960,
        1872
      ],
      "id": "7786bfe5-da2d-4c01-ae33-e891f17b306c",
      "name": "Embeddings OpenAI7",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_link",
                "value": "={{ $json.webViewLink }}"
              },
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -832,
        1872
      ],
      "id": "93d63477-ae21-4ef8-b462-1dea88a42f26",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw",
          "mode": "list",
          "cachedResultName": "Chat Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pgina1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Code in JavaScript').item.json.prompt }}",
            "output": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -704,
        2224
      ],
      "id": "81eca404-9cc8-447c-a557-392348aaa4d4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  output: $input.first().json.output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        2224
      ],
      "id": "f6c4b795-83f1-44d8-b1f4-7e911847e6e0",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11ObQNp0_JcACqXTe_kjbsvVItf1PJje7",
            "mode": "list",
            "cachedResultName": " Data sheets",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11ObQNp0_JcACqXTe_kjbsvVItf1PJje7"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "webViewLink",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        64
      ],
      "id": "405f10dc-1877-4b61-be82-538399463602",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1184,
        64
      ],
      "id": "430ba350-7d2a-41cb-9c50-ae21d5ea6c6e",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GDnyWE_PNlmEBg1RyPSNVr-QO3uCVciQ",
            "mode": "list",
            "cachedResultName": "Guide_txt",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GDnyWE_PNlmEBg1RyPSNVr-QO3uCVciQ"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "webViewLink",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        720
      ],
      "id": "84d5d3b6-e960-457f-9c6a-baf184f725d4",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1184,
        720
      ],
      "id": "277dc278-c0cb-4aa3-8a79-6773886767f4",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RnNOmlkZ6Tvi4g6v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "guides_txt",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -960,
        720
      ],
      "id": "2b314d0d-4a82-4b79-b4da-7ff1c69b1ae6",
      "name": "Simple Vector Store7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -960,
        944
      ],
      "id": "8693042c-0c32-4242-be24-3609dbba7fca",
      "name": "Embeddings OpenAI9",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_link",
                "value": "={{ $json.webViewLink }}"
              },
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -832,
        944
      ],
      "id": "309e78a4-7c3c-490f-9112-7c6f7198f6ad",
      "name": "Default Data Loader5"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "muc-dai-2",
          "mode": "list",
          "cachedResultName": "muc-dai-2"
        },
        "embeddingBatchSize": 100,
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -976,
        64
      ],
      "id": "9c7fdeb5-ffde-462c-8679-2c0784545dce",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "QiCzagzvr5YUNwng",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 3072,
          "batchSize": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        272
      ],
      "id": "53950eb4-a5b6-4a91-b361-da60ef29a3d2",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              },
              {
                "name": "file_link",
                "value": "={{ $json.webViewLink }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -832,
        272
      ],
      "id": "af544d22-112d-4005-9f6a-3112187258d0",
      "name": "Default Data Loader4"
    },
    {
      "parameters": {
        "path": "ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        272,
        2240
      ],
      "id": "0b5ab36a-aa4c-4434-a4b5-b2669bc188df",
      "name": "Webhook8",
      "webhookId": "149823b6-dc39-4c49-a83c-dfb2e2e12a86"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=### Role\nYou are an expert Technical Support AI Assistant. Your primary function is to answer user queries accurately by strictly retrieving and analyzing information from your provided vector store (datasheets and technical documentation).\n\n### Operational Constraints\n1.  **Tool Dependency:** You must ALWAYS use the vector store tool to answer technical questions. Do not rely on your internal training data for technical specifications.\n2.  **No Hallucinations:** If the information is not present in the vector store search results, do not invent specifications or guess.\n3.  **Scope:** If a user asks a non-technical question or a question unrelated to the provided documents, politely decline and steer them back to technical support.\n\n### Response Guidelines\n-   **Citation Requirement:** Every factual claim must be backed by a source. You must explicitly cite the document used.\n-   **Citation Format:** Use the exact filename and file link provided in the metadata. Format citations as follows: \"According to [Exact Filename](File Link)...\"\n-   **Tone:** Professional, objective, concise, and solution-oriented. Avoid flowery language or excessive politeness.\n-   **Formatting:** Use Bullet points for lists and **Bold** for key technical parameters or numbers to improve readability.\n\n### Fallback Protocol\nIf the vector store does not return relevant information to answer the specific question, you must respond with:\n\"I cannot find this specific information in the available documentation. Please escalate this request to a human agent.\"\n\n### Example Response Format\n\"Based on the search results:\n*   The operating voltage is 24V DC **[Datasheet_v1.pdf](https://link-to-file)**.\n*   The maximum load capacity is 500kg **[Tech_Spec_2024.pdf](https://link-to-file)**.\n\nPlease ensure the unit is grounded before operation.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        752,
        2240
      ],
      "id": "f876fcbe-338b-482e-97ff-26b63c9af9ba",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  prompt: $input.first().json.query.prompt,\n  expected:$input.first().json.query.expected ?? null\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        2240
      ],
      "id": "16c8c50b-6eef-40df-b223-a47861618194",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        2464
      ],
      "id": "49fe2ba3-a730-40a7-adbd-5264d1e16027",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1824,
        2240
      ],
      "id": "4e371302-926a-45c9-a82a-63718f0c3bc8",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw",
          "mode": "list",
          "cachedResultName": "Chat Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pgina1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Code in JavaScript13').item.json.prompt }}",
            "output": "={{ $json.output }}",
            "expected": "={{ $('Code in JavaScript13').item.json.expected }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected",
              "displayName": "expected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        2240
      ],
      "id": "b50c448e-ede7-4791-a78d-67bfb0aad844",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  output: $input.first().json.output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        2240
      ],
      "id": "52d06b19-bb0f-4197-9955-68b906c7dd39",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Documents",
        "pineconeIndex": {
          "__rl": true,
          "value": "muc-dai-2",
          "mode": "list",
          "cachedResultName": "muc-dai-2"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        2464
      ],
      "id": "adf42fbd-3066-401a-8047-33f824cddf8e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "QiCzagzvr5YUNwng",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 3072,
          "batchSize": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        2608
      ],
      "id": "04dd0209-34b1-43ef-af44-9c43e69779b1",
      "name": "Embeddings OpenAI8",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -736,
        480
      ],
      "id": "3c51a12b-036c-4ef1-b40e-a6c5a9b98792",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "path": "ai/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2208,
        4432
      ],
      "id": "3c162fc1-05c8-4081-bd76-0d23023eee18",
      "name": "Webhook9",
      "webhookId": "149823b6-dc39-4c49-a83c-dfb2e2e12a86"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=I have chat with the prpmpt system\n\nYou are a Technical Support AI Assistant with access to two tools: \"datasheets_store\" (official manuals/specs) and \"historical_tickets_store\" (past resolved issues).\nYour Logic:\n\nResponse Rules:\n\nCite Sources: Explicitly state where information comes from (e.g., \"According to Datasheet X...\" or \"In Ticket #123...\"). Include the filename that you can find in the metadate of vector response.\n\nHonesty: If the answer is not in your tools, do not invent one. Suggest human escalation.\n\nTone: Professional, concise, and solution-focused.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1728,
        4432
      ],
      "id": "9ae08922-284d-4da4-8e30-6ff76f81af3e",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "jsCode": "return {\n  prompt: $input.first().json.query.prompt,\n  expected:$input.first().json.query.expected ?? null\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        4432
      ],
      "id": "eea334b0-b225-40ef-9a97-cedb211477a2",
      "name": "Code in JavaScript15"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1760,
        4656
      ],
      "id": "34038650-9dd9-4498-97c2-f96001e4f513",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -656,
        4432
      ],
      "id": "a51b942a-08c6-4624-9129-897d5ebc8b25",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw",
          "mode": "list",
          "cachedResultName": "Chat Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pgina1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19YMJuoQ4_yNsJZHvy5MoBMlGTh5Jf6H3z2balMrtenw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('Code in JavaScript15').item.json.prompt }}",
            "output": "={{ $json.output }}",
            "expected": "={{ $('Code in JavaScript15').item.json.expected }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected",
              "displayName": "expected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1168,
        4432
      ],
      "id": "a640132a-9f4e-45cf-81ef-508965c9bff7",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pJMwtZn8eaZooW69",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  output: $input.first().json.output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        4432
      ],
      "id": "a0c92fea-1618-4b82-9b79-4df1e9b6855d",
      "name": "Code in JavaScript16"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Documents",
        "pineconeIndex": {
          "__rl": true,
          "value": "muc-dai-2",
          "mode": "list",
          "cachedResultName": "muc-dai-2"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1488,
        4656
      ],
      "id": "f909410d-7839-4690-9074-0aef6c6fba9c",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "QiCzagzvr5YUNwng",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 3072,
          "batchSize": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1488,
        4800
      ],
      "id": "d38593e7-e7ad-497d-a0cb-926f880a5b4d",
      "name": "Embeddings OpenAI10",
      "credentials": {
        "openAiApi": {
          "id": "Ex1yZat6vMtDWbYv",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in Extracted Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append issue": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_issues": {
      "main": [
        [
          {
            "node": "get_extracted_information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_extracted_information": {
      "main": [
        [
          {
            "node": "get_solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_solutions": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "get_open_issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_open_issues": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "get_extracted",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_extracted": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_issue": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "get_extracted1",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_extracted1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_issue1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Append issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append issue1": {
      "main": [
        [
          {
            "node": "Append row in Extracted Information1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Documents Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "get_issue2",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_extracted2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_extracted2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get_issue2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "get_all_issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_all_issues": {
      "main": [
        [
          {
            "node": "get_all_extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_all_extracted": {
      "main": [
        [
          {
            "node": "get_all_solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_all_solutions": {
      "main": [
        [
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documents Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Execute workflow": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Simple Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI6": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI7": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store5",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Simple Vector Store5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Simple Vector Store7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI9": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store7",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader5": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store7",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader4": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook8": {
      "main": [
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript14": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI8": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader4",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook9": {
      "main": [
        [
          {
            "node": "Code in JavaScript15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript15": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet3": {
      "main": [
        [
          {
            "node": "Code in JavaScript16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript16": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI10": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3d930d29-a69d-4cf2-9139-27a3d05269a9",
  "meta": {
    "instanceId": "6523e58bc0eec42c31b9635d5e0dfc23b6d119b73e633bf3a5284c79bb4a1ede"
  },
  "id": "BdzJlslxlzwUsL1pF-FEF",
  "tags": []
}