Team 4/landau_web/docs/Landau_sub_content_creation-2.json
{
  "name": "Landau_sub_content_creation",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -80
      ],
      "id": "bc86fd90-1c77-41f2-9a5e-f2d9179751ae",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Merge all caption outputs into a single structured object\nconst items = $input.all();\nconst result = {\n  instagramCaption: '',\n  linkedinCaption: '',\n  facebookCaption: ''\n};\n\n// Get the form data from Getting parameters node\nconst formData = $('When Executed by Another Workflow').item.json.data;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const output = item.json.output || '';\n  \n  // Determine source based on pairedItem\n  if (item.pairedItem) {\n    const sourceIndex = Array.isArray(item.pairedItem) ? item.pairedItem[0].item : item.pairedItem.item;\n    \n    // Map to caption type based on switch output order\n    // Output 0 = Instagram, 1 = LinkedIn, 2 = Facebook\n    if (sourceIndex === 0 || output.includes('Instagram') || i === 0) {\n      result.instagramCaption = output;\n    } else if (sourceIndex === 1 || output.includes('LinkedIn') || i === 1) {\n      result.linkedinCaption = output;\n    } else if (sourceIndex === 2 || output.includes('Facebook') || i === 2) {\n      result.facebookCaption = output;\n    }\n  }\n}\n\n// If we couldn't determine from pairedItem, try by position\nif (!result.instagramCaption && items.length > 0) result.instagramCaption = items[0].json.output || '';\nif (!result.linkedinCaption && items.length > 1) result.linkedinCaption = items[1].json.output || '';\nif (!result.facebookCaption && items.length > 2) result.facebookCaption = items[2].json.output || '';\n\n// Add form data for reference\nresult.formData = formData;\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -64
      ],
      "id": "79ea5df9-8354-4cf8-8d9d-8da2b7018183",
      "name": "Merge Captions"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media content creator for the government of Landau in der Pfalz.\n\nCreate a Facebook post with the following style:\nB2C-Kommunikation\n→ Freundlich, offen und einladend – in der Regel per Du/ihr\n→ Nahbar, lebensnah und aktivierend formuliert\n→ Ziel: Emotionen wecken, Bindung aufbauen, Besuchsanreize schaffen\n\nOutput only the post text!\nLength: 400-600 characters (optimal for Facebook engagement)\n\nTopic: \n{{ $('When Executed by Another Workflow').item.json.body.data.Topic }}",
        "options": {
          "systemMessage": "Output ONLY the post text without any additional formatting or labels."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -400,
        112
      ],
      "id": "2304ef2c-9acb-4f56-a4db-699058b57d57",
      "name": "Facebook Caption",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media content creator for the government of Landau in der Pfalz.\n\nCreate a LinkedIn post with the following style:\nB2B-Kommunikation\n→ Professionell, sachlich und klar – in der Regel per Sie\n→ Fachlich präzise, aber gut verständlich formuliert\n→ Ziel: Vertrauen schaffen, Kompetenz zeigen, zur Kontaktaufnahme motivieren\n\nOutput only the post text!\nLength: 400-1300 characters (LinkedIn limit)\n\nTopic: \n{{ $('When Executed by Another Workflow').item.json.body.data.Topic }}",
        "options": {
          "systemMessage": "Output ONLY the post text without any additional formatting or labels."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -400,
        -64
      ],
      "id": "0bd5a0e0-3b37-40c9-9b50-7d12b2795241",
      "name": "LinkedIn Caption",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media content creator for the government of Landau in der Pfalz.\n\nCreate an Instagram caption with the following style:\nB2C-Kommunikation\n→ Freundlich, offen und einladend – in der Regel per Du/ihr\n→ Nahbar, lebensnah und aktivierend formuliert\n→ Ziel: Emotionen wecken, Bindung aufbauen, Besuchsanreize schaffen\n\nOutput only the caption text!\nLength: 300-500 characters (Instagram allows up to 2200)\n\nTopic: \n{{ $('When Executed by Another Workflow').item.json.body.data.Topic }}",
        "options": {
          "systemMessage": "Output ONLY the caption text without any additional formatting or labels."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -400,
        -256
      ],
      "id": "18e7e17d-83fd-4d26-b4c1-40ccaa75235b",
      "name": "Instagram Caption",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -784,
        -208
      ],
      "id": "133404e5-450d-49f8-9136-2720bda2400d",
      "name": "Shared Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DSNyBmK7pQ4msEf9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "instagram-check",
                    "leftValue": "={{ $json.body.data.Social }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "linkedin-check",
                    "leftValue": "={{ $json.body.data.Social }}",
                    "rightValue": "Linkedin",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "facebook-check",
                    "leftValue": "={{ $json.body.data.Social }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1264,
        -64
      ],
      "id": "b92f8a76-56b3-4f4f-ab4b-d456e7d7a020",
      "name": "Route to Social Media"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -48
      ],
      "id": "550edbbf-5596-40e5-bee2-15874f5e7186",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "vmd185817.contaboserver.net",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.1 Safari/605.1.15",
            "content-length": "94",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "de-DE,de;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=3, i",
            "referer": "http://localhost:5173/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "138.246.3.247",
            "x-forwarded-host": "vmd185817.contaboserver.net",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "Topic": "Weihnachtsfeier",
              "Social": [
                "Instagram",
                "Linkedin",
                "Facebook"
              ],
              "picture": []
            }
          },
          "webhookUrl": "https://vmd185817.contaboserver.net/webhook/b9143924-6f48-4162-851d-d95a76606194",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Captions": {
      "main": [
        []
      ]
    },
    "Facebook Caption": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "LinkedIn Caption": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Instagram Caption": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shared Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Facebook Caption",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LinkedIn Caption",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram Caption",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route to Social Media": {
      "main": [
        [
          {
            "node": "Instagram Caption",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Caption",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Route to Social Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "204370a0-3119-4d1d-86f4-17793e34b60b",
  "meta": {
    "instanceId": "242e16560be4b15ec48732e58bf97d190f82ae9479ec2d8855ef98e163c481dd"
  },
  "id": "LygxNXu1c5baK3M0",
  "tags": []
}